[2019-04-22 16:07] jclem opened #2 "Build/release tooling"
Before we start publishing, we need some build/release tooling. When it's time to release new package versions, we need to:

1. Compile TypeScript
2. Publish to NPM

[2019-06-24 17:31] bryanmacfarlane opened #15 "toolkit, core and possibly exit package should be merged"
From a user's perspective many of the packages are clear: actions/io, actions/exec, actions/tool-cache.  But toolkit and core both offer core functionality (setting results, logging etc).  It seems odd that a user adds toolkit and core.  How do we explain how they differ other than origins?

toolkit has redundant exit while there's an exit package.

We should decide whether the core functionality

[2019-06-24 17:35] bryanmacfarlane opened #16 "Create getting started template repo for script based action"
Create a getting started repo with the right patterns of gitignore, husky usage, build, test and consuming toolkit from targz + install.  (that will change after public availability so we should branch it appropriately)

[2019-06-24 17:37] bryanmacfarlane opened #17 "Create getting started template repo for container based actions"
Create a getting started repo with the right patterns

[2019-06-24 17:40] bryanmacfarlane opened #18 "Packages have inconsistent versioning schemes"
Some start with 0.x and some start with 1.x.  Let's get consistent and then update all the setup tasks to consume the new versions.

[2019-06-24 17:42] bryanmacfarlane opened #19 "Create getting started guidance and docs for partners"

[2019-06-24 19:16] #18 closed, assigned to damccorm

[2019-06-24 20:22] damccorm opened #23 "Create GitHub package"
Should provide context and an authenticated github client

See #21 (specifically https://github.com/actions/toolkit/pull/21#issuecomment-505513996)

[2019-06-25 17:55] #15 closed, assigned to jclem, damccorm

[2019-06-26 13:13] #16 closed, assigned to damccorm

[2019-06-26 20:47] damccorm opened #25 "Fix cp"
Cp was causing some issues, I believe specifically around how it handles symlinks.

[2019-06-27 04:24] #17 closed, assigned to TingluoHuang

[2019-07-09 13:56] #25 closed, assigned to nobody

[2019-07-29 17:09] #23 closed, assigned to nobody

[2019-08-01 19:59] #2 closed, assigned to damccorm

[2019-08-09 11:58] damccorm commented on #19
Closing since this has been completed

[2019-08-09 11:58] #19 closed

[2019-08-13 09:42] ajafff opened #47 "Add Caching support"
I noticed this repo contains a utility to cache tools. Since my request is somewhat similar, I'm opening this request here:

The docs state that each Job is executed in a fresh environment. In my understanding that means I need to checkout the code, npm install, transpile my code in every job. That seems to be a bit too much overhead for my use case:

I want to migrate my CircleCI setup: https://g

[2019-08-13 13:20] damccorm commented on #47
We don't have caching yet, but we definitely will - personally agreed that **I** want that 😄

For artifacts, we have upload and download artifact actions that I think do pretty much exactly what you're looking for. So you could have a bunch of test jobs that depend on the build job, where the build job uploads your build and the test jobs download it again. https://github.com/actions/upload-artifa

[2019-08-13 14:40] damccorm commented on #47
If that sounds right, can we maybe rename this to something like "Add Caching Support" and keep it open to track that? That way we can communicate out when that feature is added

[2019-08-13 15:30] ajafff commented on #47
@damccorm I changed the title as suggested

[2019-08-13 17:27] jeffmcaffer opened #52 "Clarify documented versioning scheme"
In the doc for the toolkit the versioning scheme for Javascript actions has examples like `v1`. Curious why not use semantic versioning and put forward examples like `1.0.3. Is there a technical limitation? Actions are critical dependencies just like packages on which people depend. Would be great to use a familiar versioning approach.

[2019-08-13 18:18] damccorm commented on #52
We version both ways, `v1` is equivalent to saying something like `^1.0.0` though where we slide with major version. So the recommendation [here](https://github.com/actions/toolkit/blob/master/docs/action-versioning.md) is to do both - keep track of a `v1` tag, but also create releases for `1.0.3`

[2019-08-13 19:11] jeffmcaffer commented on #52
Does actions use releases at all? Step 4 in the cited doc encourages users to create a release but it's unclear why.

Assuming that Actions does NOT use releases, the recommended versioning strategy is, as you say, akin to `^1.0.0`. It's interesting to note that that makes it hard to do reproducible builds as you may get a different version of the action in any given build. This is one of the reas

[2019-08-13 19:38] orta opened #54 "Formatting script doesn't exist"
Can't run `npm run format` from the README - given the set of packages I couldn't make the assumption on what you were planning, so opted for a PR.

[2019-08-13 19:40] orta commented on #54
Doh - wrong repo - the tutorial is here, the repo is elsewhere.

[2019-08-13 19:40] #54 closed

[2019-08-14 05:35] bryanmacfarlane commented on #52
Each release can have a specific version like `1.0.9` but the `v1` tag slides along that release branch to pick up changes and fixes.

If users want to lock in, then they should use the sha commit.  If you want secure and reproducible builds then that's the recommended mechanism.

With actions, github is the distribution mechanism by consuming actions from the github graph therefore the binding me

[2019-08-14 05:38] bryanmacfarlane commented on #52
documented in https://github.com/actions/toolkit/blob/master/docs/action-versioning.md so closing.

[2019-08-14 05:40] bryanmacfarlane commented on #47
Yes, caching is on the backlog however it won't be a toolkit feature.  It will be a new action with runner support.  I'll leave open though to track the enhancement.  It's definitely on the feature backlog short list.

[2019-08-14 06:04] bryanmacfarlane commented on #52
key point is the github graph is the distribution mechanism for actions so binding must be by a git ref (tag, sha, etc).

[2019-08-14 14:59] damccorm opened #56 "Add Problem matcher docs"
Would be helpful to have a schema/explanation of what matchers actually do.

[2019-08-14 15:09] damccorm opened #57 "Add docs for ##[] commands from scripts"
e.g. `##[error]Error message`

[2019-08-14 15:35] jeffmcaffer commented on #52
The confusion for me is around step 4 in the doc. It is unclear why this is suggested (since there is no referenced use of the created release) and which "release" mechanism is being used (git tagging or GitHub Releases).

Suggestions:
* show a use of minor versions such as `uses: actions/setup-node@v1.2.5`. Binding to a SHA is airtight but makes it complicated to tell how fresh/stale you are. Is

[2019-08-14 18:36] bryanmacfarlane commented on #52
The reason running from the git graph as the distribution mechanism is the key point is that's what `product` defined. 😄

The yaml lang spec is:
[code]
or local paths
[code]

The spec is you retrieve the contents of the action from the github graph at that ref / path and run it.

So that's the way it's spec'd and works so the walkthrough and docs in this repo is covering the best way to work with

[2019-08-14 18:49] jeffmcaffer commented on #52
Thanks for the great detail @bryanmacfarlane. Got it on Releases being considered but not there yet.

For the walkthrough, I suggest that the text shy away from "release" as much as possible without clarifying that we are not talking about GitHub Releases. Especially given

* consuming GitHub Releases is not supported. The value of creating an actual Release is unclear.
* "GitHub graph" is AFAICT

[2019-08-14 19:21] bryanmacfarlane commented on #52
One clarification: the doc will have folks create a github but that's more about advertising what's available and it creates a tag / ref when you do that.  The key difference is yeah, it doesn't consume the action from the release - it consumes it from the ref / tag that the release created.

That's good feedback and I will make it clearer in the docs.  I'll also add a visualization which will als

[2019-08-15 03:20] bryanmacfarlane commented on #57
This is changing to ::

[2019-08-15 14:36] 8398a7 opened #58 "Not working tool-cache"
I used tookit-cache and realized that it was not cached.
Since it is still beta, I would like to know if it will be added in the future or if it is an unknown bug.

I confirmed the same phenomenon in the actions I created, but also in setup-go / setup-node.
The confirmation method is debug log output.
I noticed that the following log was output.

[code]

[code]

I tried to execute either of them s

[2019-08-15 14:43] damccorm commented on #58
Could you share your workflow? To be clear, was it not cached for a later step or for a different job.

We don't cache tools between jobs because jobs are run in clean environments (and possibly different machines).

[2019-08-15 14:51] damccorm opened #59 "Update ## commands to ::"
We're changing the syntax on the runner and need to update in `core` here (and elsewhere we need to update to consume the new version).

[2019-08-15 14:55] 8398a7 commented on #58
I have a dedicated repository.
https://github.com/8398a7/cache-poc/actions

The first time I forgot to enable debug logging.

This is the second run.
https://github.com/8398a7/cache-poc/commit/4f0edea37157ac6f6d1f509bcccc3bbebe9fbc4c/checks#step:3:16

This is the third run.
https://github.com/8398a7/cache-poc/commit/4c52a342e5132fedc0d470733c5f7e636b61f926/checks#step:3:16

[2019-08-15 14:58] damccorm commented on #58
Ok, so I think this is working as expected. The tool cache isn't preserved between runs for the same reasons mentioned above - since we're just grabbing a machine from a hosted cloud pool and returning it when we're done there's not a way to persist state between runs. If you tried something like:

[code]

you should see that it is cached for the second run.

[2019-08-15 15:05] 8398a7 commented on #58
I see.
I was expecting something similar to circleci's cashe, but it was a misunderstanding.
This has already been reported(#47).

I look forward to the cache function, thank you for the wonderful product.

[2019-08-15 15:05] #58 closed

[2019-08-16 17:21] warrenbuckley opened #60 "@actions/tool-cache downloadTool does not save file with file extension"
I am trying to write a GitHub action tool to download & setup Nuget.exe however by passing the URL

`const nugetPath = await tc.downloadTool("https://dist.nuget.org/win-x86-commandline/latest/nuget.exe");`

This saves the file as something like this
`temp/b438b0f2-af22-456a-8a77-ddc4152465b9` minus the .exe file extension

I could workaround it by manually renaming it with using NodeJS fs APIs but

[2019-08-16 17:34] WaldoJeffers opened #61 "Document the equivalent of core.exportVariable for Docker actions"
Hello,

I'm sorry if this is not the best place to ask this, I've looked if there aren't already communities more "support-oriented", but as GitHub actions is still in beta, it seems this question hasn't been properly settled up yet.

There's a [`core.exportVariable` method](https://github.com/actions/toolkit/tree/master/packages/core#exporting-variablessecrets) which allows one to _"export variab

[2019-08-19 20:09] damccorm commented on #60
Actually implementing this should be fairly trivial. We just need to change [this line](https://github.com/actions/toolkit/blob/e2adf403d6d14a9ca7474976ccaca20f72ff8209/packages/tool-cache/src/tool-cache.ts#L61) to append the final part of destPath instead of a uuid. It shouldn't break anyone since the path is already randomized so no one could have taken a dependency on the path itself.

So then

[2019-08-20 07:42] warrenbuckley opened #65 "Unique Build Number for CI Build Artifacts"
## Using Actions as CI
How or where can I get a unique build number to append build Artifacts with a unique CI version

/cc @damccorm

[2019-08-20 10:30] warrenbuckley commented on #60
Hi @damccorm
Thanks for the reply and your train of thought on this.

If you keep it as it is, then I suggest more detailed docs & end to end examples on the page listed here - https://github.com/actions/toolkit/tree/master/packages/tool-cache#download

There is no mention that this will download the file as a GUID with no file extension & that I should use the cachePath method, as not all tool fi

[2019-08-20 13:00] chrislennon opened #66 "Package release process"
👋 Noticing there is some differences between the published `1.0.0` versions of the packages that are published on npm and the code in master. One specific thing was the features added on #49

Currently working around this with a fork of just the tool-cache package so I can test a matrix build of [an action](https://github.com/chrislennon/action-aws-cli) I'm working on.

Would be awesome if we can

[2019-08-20 13:52] damccorm commented on #66
Sorry we haven't published yet! I added #67 to get consensus on publishing, once that's in I'll publish `@actions/tool-cache` at `1.1.0`

[2019-08-20 15:18] damccorm commented on #65
We don't have this right now, not sure if this is on the roadmap or not, @chrispat would know better than me.

This is a great place 😄

[2019-08-20 19:44] damccorm commented on #61
This is a great place!

Well, if you run javascript in the container you can call `exportVariable` with this library and it should work. Otherwise, you should be able to replicate what we do in our `exportVariable` function by doing something like `echo ::[name=FOO;]BAR`, which will set FOO=BAR in the env for future steps.

Note that docs for this are tracked in #57 and that this doesn't match exa

[2019-08-20 19:49] warrenbuckley opened #69 "Runs Plugin: 'publish' - Undocumented Feature"
The https://github.com/actions/upload-artifact repo `action.yml` contains the following:

https://github.com/actions/upload-artifact/blob/ec188c28d23c831d7283eb4280a4490eb5010092/action.yml#L11-L12

[code]

So this leaves me to ask, what other things apart from running NodeJS & Docker Image/Container can we do as Action developers as mentioned in the documentation here - https://help.github.com/en

[2019-08-20 19:53] damccorm commented on #61
Actually, scratch that - for now you should still use `echo "##[set-env name=FOO;]BAR"`. Note though, that we're going to replace `##` with `::` in the future and `##` will be (gracefully) deprecated.

[2019-08-20 19:58] damccorm commented on #69
That's actually intentional - plugins live on our Runner which isn't open sourced yet (though it will be). Basically, certain actions are (a) definitely needed to support the product/expected to be used in a large percentage of workflows, but (b) much easier to implement well directly on the Runner. So while we have this concept of a plugin for a small/select group of first party actions, this is

[2019-08-20 20:06] warrenbuckley commented on #69
Thanks for the explanation. Will close this issue for now as its not intended for public consumption by action developers

[2019-08-20 20:06] #69 closed

[2019-08-20 20:09] warrenbuckley commented on #57
Yes curious to know what this @damccorm as saw a few commits/lines in other actions such as actions/setup-node etc...

[2019-08-20 20:18] warrenbuckley commented on #65
I was oping there was something I could use from an environment variable to use as the build number, but I can't see anything that increments for each run, listed there currently.

However I did notice the debug output of the actions/upload-artifact does print/output a run number. As the src of this is not available due to it being a plugin. Are you able to tell me how or where to obtain the same

[2019-08-20 22:41] bryanmacfarlane commented on #57
We will document.  The ## was problematic as that's a comment in bash so it require quoting which was inconsistent across platforms.  The latest version of the runner has the changes so it's now ::.  Now that it has rolled out, we will doc for scripts and the toolkit will react.

[2019-08-21 09:13] xt0rted opened #71 "Mocking @actions/github in your tests"
I haven't seen any tests or examples that show how you'd mock `@actions/github` using Jest. How would one go about doing this?

My action contains the following:

[code]

[2019-08-21 12:41] warrenbuckley commented on #65
I was hoping that the contexts listed here in the docs, would have what I need but I still can't seem to find anything that I can use.

https://help.github.com/en/articles/contexts-and-expression-syntax-for-github-actions#example-printing-context-information-to-the-log-file

The `strategy` context always seems to have the following:
[code]

[2019-08-21 17:07] damccorm commented on #71
We don't provide a specific library for mocking, though I'm working on docs that should probably include that. There's kinda 2 sides to this.

The first is the context (e.g. `context.repo`, `context.actor` in this case). This one is easier to mock, you can just set the environment variables that it reads from which you can see [here](https://github.com/actions/toolkit/blob/master/packages/github/s

[2019-08-21 17:34] JasonEtco commented on #71
+1 for using `nock` wherever possible. I've written a ton of tests for code that uses the GitHub API and Octokit, and while mocking the Octokit SDK totally works, it means that tests become dependent on the SDK to have specific methods.

Once those methods change, its hard to update your tests and code at the same time to track those changes. With `nock`, you're writing tests that are more realist

[2019-08-21 17:44] d923 commented on #71
[nock-next.zip](https://github.com/actions/toolkit/files/3526567/nock-next.zip)

[2019-08-21 18:11] xt0rted commented on #71
@damccorm [actions/javascript-template](https://github.com/actions/javascript-template) sets you up with Jest so that's what I was using. I came across nock while looking at [JasonEtco/actions-toolkit](https://github.com/JasonEtco/actions-toolkit) and Octokit since that's what my actions were originally using, just wasn't sure if that was the recommended way to test actions or if mocking the toolk

[2019-08-21 18:20] damccorm commented on #71
Yep - to be clear, those aren't mutually exclusive - you can still use the jest framework and just nock specific http requests.

I'll try to add some docs that talk about this soon!

[2019-08-21 19:33] bnb opened #73 "Unclear Instructions: Where does example code from javascript-action go?"
Hello!

I'm trying to follow along in [javascript-action.md](https://github.com/actions/toolkit/blob/master/docs/javascript-action.md), which has several code examples. Specifically, lines 19-22 and 46-58.

I'd love to use these examples, except for me (as a first-time Action author) it's entirely unclear where they're supposed to go.

Clarifying that inside of the document would be ideal.

[2019-08-21 23:18] Ignigena opened #74 "Access to the job name?"
I am trying to get access to the user-configured job name so that my custom action can annotate it's own check run.

From documentation and sample code that I've been able to wrangle together I would expect `context.action` to have this value. However, it appears this is only ever the same value: `[org-name]actions` no matter the user-configured job

Not sure if this is the best place to ask, but

[2019-08-22 08:03] xt0rted commented on #56
I added one of these to my action and it was working ok, but when I switched it over to run in a Docker container the run started to fail saying the file couldn't be found (I've confirmed it is in the container). Do these not work in Docker containers or is there more to get them working?

I used this as my format guide since they seemed to be the same, or close enough that things still worked htt

[2019-08-22 12:57] damccorm commented on #56
@ericsciple is there any reason problem matchers wouldn't work in a docker container? I'm not aware of any, but he would know better

[2019-08-22 17:14] #66 closed

[2019-08-22 17:28] damccorm commented on #66
Published! https://www.npmjs.com/package/@actions/tool-cache

[2019-08-22 18:42] damccorm commented on #60
Yep, seems like regardless of what we do, better docs are a must here. I think I like the solution of allowing users to specify their own destination path. @stephenmichaelf any thoughts/do you want to take this one?

[2019-08-22 19:23] radu-matei commented on #73
Hey!
(Not working on the team building Actions, just tagging along 😄)

If you create a repo based on https://github.com/actions/javascript-template, then the file you're looking for is `action.yml`.

Hope this helps!

[2019-08-23 01:04] xt0rted commented on #56
@damccorm I got it working. I switched from `##` to `::` as per #59 and that fixed it. Both syntaxes worked in script style actions, but container based ones seem to only support `::`.

[2019-08-23 04:13] svenstaro commented on #69
I think this should be re-opened and still be documented nonetheless. Otherwise there'll be more people confused by this.

[2019-08-23 16:18] stephenmichaelf commented on #60
@damccorm Yes I will take this one.

I think there may be a way to get both: what if we were to allow an optional parameter that specifices a filename? We can default to the UUID if the filename is not present. Then it stays in the same location but can be named as the user wishes.

I think we should have these follow up items:
- [ ] Improve documentation of downloadTool [here](https://github.com/

[2019-08-23 17:03] damccorm commented on #60
That sounds good to me.

[2019-08-23 20:11] 1138-4EB commented on #65
@warrenbuckley, I'm having a similar issue trying to use the `job_id` to set an environment variable. For example:

[code]

Overall, I feel that contexts derived from the workflow have very little info, too little to be really useful. This is not the case with event sources.

[2019-08-23 20:18] 1138-4EB commented on #57
I am currently using the following bash function to wrap commands in groups:

[code]

Although @bryanmacfarlane commented that it changed 3 days ago, it is still working. Will these break? Or is it independent from this issue?

[2019-08-23 21:09] bryanmacfarlane commented on #57
We will support ## for a few months and advise / sunset.  The new syntax is the same but uses `::` instead of `##`.  It's supposed to be rolling to rings any day now (and might be in yours as I write this).

[2019-08-24 09:20] xt0rted commented on #71
I started updating my tests to use the `GITHUB_` environment variables and what I've found is any of them that are used in a constructor end up returning `undefined` but if they're used in a property or function then they return a value.

These "properties" all return `undefined` in my tests https://github.com/actions/toolkit/blob/f66f5629b3f1303cf816b5e1823bae92ff02ece9/packages/github/src/contex

[2019-08-25 03:32] D-Nice opened #81 "support repeated workflow events"
In the case of monorepos, I may wish to run a specific worklow for parts of a projects, only if a specific directory containing said project changes, as to not unnecessarily pollute action output when adding features of other projects, and avoid unnecessary cpu cycle consumption of the github actions service. This of course is possible atm, with something as simple as this:

[code]

However, I wou

[2019-08-25 03:53] chunlea opened #82 "tool-cache extractZip not working"
I am trying to write an action to setup flutter toolchain, but I can't extract zip.

The repo is https://github.com/chunlea/actions-setup-flutter, and code is here: https://github.com/chunlea/actions-setup-flutter/blob/master/src/installer.ts#L144

and I got this error:

[code]

But if I change the code in `@actions/tool-cache`, not using the `unzip` in `node_modules`, using the `unzip` in system,

[2019-08-26 12:49] damccorm commented on #82
Are you using the most recent version of the tool-cache? We fixed an issue with mac zip/unzip in #49

[2019-08-26 12:53] ibakshay opened #85 "Configuring GitHub Actions only for Sub-Events"
Hello,

I know that the GitHub Actions will support all the events mentioned [here](https://developer.github.com/actions/managing-workflows/workflow-configuration-options/#events-supported-in-workflow-files), However, Is there any way on how we can trigger a workflow only based on sub-events like `pull_request.opened` `pull_request.closed` and not for other sub-events such as  `pull_request.labell

[2019-08-26 13:11] xt0rted commented on #85
[I was told](https://github.com/sdras/awesome-actions/pull/147#issuecomment-522774589) that this is the syntax you'd use to do this, but I haven't tried it myself yet.

[code]

[2019-08-26 13:16] masci commented on #82
I've the same problem - the `unzip` Linux binary is dynamically linked and I don't have `libbz2.so.1.0`:
[code]

Locally I can work around this with:
[code]

but my workflow [keeps failing](https://github.com/arduino/actions/runs/203308348#step:6:20) with this error:

[2019-08-26 13:27] damccorm commented on #71
So I ran into this and I think I know why exactly this is happening, I should be clearer in my walkthrough docs though and will update accordingly.

Basically, the issue is that the GitHub class loads its properties (e.g. payload, eventName, sha, etc...) as soon as it is loaded. So the `env` needs to be set before we require the action that requires `@actions/github` - you can see I do that in my

[2019-08-26 13:30] ibakshay commented on #85
Hi @xt0rted, Thank you for your quick response. I just checked, and unfortunately, this extra flag ` types` is not triggering the workflow.
 I managed to add checks when consuming GitHub APIs using `octokit` client for the sub-event, But it would be really nice If this flag `types` works :).

[2019-08-26 15:00] chunlea commented on #82
Yes, I am using the `1.1.0` of `tool-cache`, which is already merged with #49

[2019-08-26 15:22] masci commented on #82
@damccorm I don't know how to print debug logs in the workflow report on GitHub but locally the URLs are composed in the right way and the file is actually downloaded:
[code]
Another thing I had to do locally, every time I do `npm install` the `unzip` script is not executable and I get the infamous `EACESS` error that I can fix by `chmod`-ding the file giving it   `+x` permissions.

[2019-08-26 18:40] estrada9166 opened #86 "Don't create checks on issues"
How can I enable the action only to run when an issue is created without setting checks... If my base branch is develop, and I have PR opened to master, every time an issue is created it's gonna assign checks to my PR. something that I don't want because the action is only used to assign users to it, no to prevent merging a PR.

how can I prevent this behavior?

[2019-08-27 01:40] chunlea commented on #82
Try to use `tool-cache` with version `1.1.0` in `package.json`, the `1.1.0` fixed `+x` permissions.

[2019-08-27 07:47] masci commented on #82
@chunlea thanks a ton, that was indeed my problem.

Sorry for the noise on the issue, I'm quite new to Typescript&co.

[2019-08-27 14:48] ibakshay commented on #85
@estrada9166, Thank you very much 💯 .
And just one more thing, I believe the [issue_comment](https://developer.github.com/v3/activity/events/types/#issuecommentevent) event will be triggered for both `issues ` and `pull_request` comments. If I want to trigger [issue_comment](https://developer.github.com/v3/activity/events/types/#issuecommentevent) only for the `pull_request` comments then how shou

[2019-08-27 15:02] ibakshay commented on #85
Hi @jclem, here is the workflow file https://github.com/ibakshay/Wireless-Weather-Station-/blob/master/.github/workflows/issue_created.yml which I was testing and `types` filter doesn't seem to work for me.

[2019-08-27 16:12] nathany opened #88 "Support private repositories for GitHub Actions"
I copied [the JavaScript template](https://github.com/actions/javascript-template) over to a private repository and then added the action to another repo: `- uses: aai/cache@v1`.

This is the log output:

[code]

[Choosing a location for your action](https://help.github.com/en/articles/about-actions#choosing-a-location-for-your-action) only covers using public repositories for GitHub Actions, or p

[2019-08-28 04:32] JasonEtco opened #89 "README improvement proposal"
Hey folks! I wanted to suggest some improvements to the README for this repo, to help folks get started using the toolkit. I can open a PR, but it may take some time to find the bandwidth to do it right - so in the meantime, below is a proposed outline.

### Goals

* Clarify the different packages
  * What each one is, why they're separate
* Show examples of common tasks (ie: reading from the even

[2019-08-28 15:50] gimenete commented on #86
@damccorm I'll create an internal issue. The problem is that when an event not related to a push triggers Actions, Actions searches the latest version of the workflow files. In order to do that it uses the latest commit in the default branch. This makes sense in order to decide which version of the workflow file is used. Then checks are created and the SHA is stored in them. These checks need to b

[2019-08-28 16:20] damirstuhec commented on #88
+1 for this. Pretty much every organization has multiple private repositories and being able to reuse in-house actions across multiple private repositories is a must-have, in my opinion.

[2019-08-28 17:52] damirstuhec commented on #88
@damccorm I've tried moving our custom action in one of our private repositories as you suggested: `{repo root}/folder1/folder2/{here is where action.yml, src, lib and other files are}`.

I also updated the `uses` in the workflow to `uses: ./folder1/folder2` but I get the following error when the workflow runs:
[code]
Any ideas?

[2019-08-28 18:26] damirstuhec commented on #88
That was it! Thank you @damccorm.

[2019-08-28 18:30] codfish opened #96 "Possible bug with expressions and steps.<step id>.outputs"
**I'm not sure where I should be posting this, or how I can report bugs, so I'm starting here. Please point me in the right direction if this isn't the forum**

----

My goal is to eloquently handle running (or NOT running) a step based on the value of an output from a previous step. In this case i want to do custom things IF my semantic-release step actually cut a new version.

1) According [to t

[2019-08-28 18:55] damirstuhec opened #97 "Access to feature branch name from Context"
I'm working on an action that triggers on `issue_comment` and was wondering if there's a way to get ahold of the feature branch from which the comment originated?

I'm currently using `github.context.repo.owner` and `github.context.repo.repo` to access the repo and its owner names but would need a branch name as well.

[2019-08-28 23:14] codfish commented on #96
@thboop awesome, thanks for the update!

[2019-08-29 00:13] D-Nice commented on #81
Ok thanks, wasn't sure personally where this would be best to inquire about, but this appeared like the best avenue on first glance, however, I'll do it via the link you've provided.

[2019-08-29 11:38] DanTup commented on #47
I don't know what "runner support" means, but will this allow actions to use caching internally? For example I have a `setup-flutter` action that currently takes a few minutes because it does a bunch of downloading when it's first invoked (it downloads additional modules it needs - the URLs for are all internal to it and from the workflow I don't know or care). It'd be great if my setup-flutter ac

[2019-08-29 11:42] DanTup commented on #97
I'd like access to the branch name generally in the workflow too. I'm porting some things from Travis and I currently upload test results and logs to S3 (to power a web-based dashboard) in a folder `{branch_name}/{hash}` but using `github.ref` results in them going in a folder called `/refs/heads/{branch_name}` which is weird (alternatively, a function that can be used to strip it off would work t

[2019-08-29 11:47] WaldoJeffers commented on #61
I can confirm this is working @damccorm , thanks for your help :)

[2019-08-29 14:12] damccorm commented on #61
Awesome! I'm going to close here and follow up in #57

[2019-08-29 14:25] damccorm commented on #97
Yeah, a convenience function there seems like it could be nice. For now, you can probably do something like:
[code]

[2019-08-29 14:28] DanTup commented on #97
@damccorm in my case I'm just trying to use it in the workflow file rather than an action - I don't think I can put arbitrary JS in there?

[code]

[2019-08-29 15:01] damirstuhec commented on #97
@damccorm

I tried that but the `branchName` is always `master`, even when the `issue_comment` is posted on another branch (PR).

Basically, my use case is a workflow that runs when a specific `issue_comment` is posted on a feature branch (PR) which will then trigger a CircleCI job for that branch through their API. Unfortunately, CircleCI only supports triggering the build by a branch name.

[2019-08-29 15:10] DanTup commented on #97
@damirstuhec I don't know if it'll be populated for comments, but there's a `head_ref` and `base_ref` listed [here](https://help.github.com/en/articles/contexts-and-expression-syntax-for-github-actions#github-context). It says they're only populated for PR events, but I'm not sure exactly what that means.

[2019-08-29 15:10] chrispat commented on #97
@damirstuhec as documented on: issues: triggers will always run on the default branch as issues don't really have a ref they are associated with.

[2019-08-29 17:10] nathany commented on #47
@DanTup I'm not sure what the GitHub implementation will look like, but with other systems the caching layer just compresses/stores a folder and then puts it back.

As an example, I would cache node modules something like this:

[code]

So in this case `npm install` runs every time, but it should run significantly faster with a `node_modules/` folder restored from the cache than if it were empty.

[2019-08-29 17:27] DanTup commented on #47
Sure, but I'm asking about putting it *inside* the action. To use the action you currently do:

[code]

I don't think the person using the action should have to start knowing what goes on inside the action to know what to cache (which is how it sounds if caching "is a new action"). I think an actions implementation should be able to read and write from a cache (for example by exposing a single boo

[2019-08-29 17:35] nathany commented on #47
@DanTup I like that idea. So someone would publish an action for "npm install" or "yarn install" that has caching built in, and is aware of the lock files and folders to cache. That makes for a nice API for the users.

Not sure what GitHub will do, but I'd be for a solution like that (so long as making a new action is relatively painless).

[2019-08-29 18:57] DanTup commented on #47
Exactly :) There are already a bunch of GitHub-authored setup-xxx actions (node, ruby, dotnet, etc.) that could benefit from this (but if users have to do it, it won't happen). Most installers are probably small enough it's not a big deal, some things (for ex. an Android SDK) can be quite large.

I'm not saying there shouldn't also be an action for caching - but it does feel like something that wo

[2019-08-29 22:55] nathany commented on #47
We're looking for a stopgap solution while waiting for GitHub's official support for caching.

In the meantime, I've put together this command line tool (written in Go) that can checksum files and compress a folder, such as `package-lock.json` and `node_modules`.

https://github.com/RobotsAndPencils/cache-money-client

It's only a partial solution because it communicates with a private server for

[2019-08-30 06:51] thomaseizinger opened #100 "Javascript actions without checking in node_modules"
From the example actions like [labeler](https://github.com/actions/labeler), I get the impression that the idea is to check `node_modules` into VCS so that the runner can resolve the dependencies of the action at runtime.

Instead of doing that, I'd much rather use a tool like webpack to bundle everything up that is necessary and only check in the generated file.
However, it seems that "@actions/g

[2019-08-30 13:56] damccorm commented on #100
Yeah, our recommendation here is still a little bit in flux (see https://github.com/actions/javascript-template/issues/4) - when that's settled we'll probably have some better examples. The reason this failed for you is because we have a dynamic require, I added #101 to get rid of that. Once that's gone, the basic config should work.

[2019-08-30 14:25] xt0rted commented on #71
@damccorm after playing around with this a bit more I found that if I get rid of the `import { CommandHandler } from "../src/commandHandler";` line and then require that in each test after setting up the context, then the environment variables are loaded. This really over complicates the tests though, repeats a ton of code, and I lose type information for what I `require()`. At this point it seems

[2019-08-30 14:44] thomaseizinger commented on #100
Ah yeah, thanks!
I figured it would be the dynamic require :)

Thanks for sending a PR that quickly!
Since the issue you linked is already tracking this, I'll close this one!

[2019-08-30 14:44] #100 closed

[2019-08-30 15:11] damccorm commented on #71
Yeah, you're probably right. I'll look into updating the docs.

[2019-08-30 16:07] MSP-Greg opened #102 "process.env changes not seen by subsequent steps"
New to to node, and haven't coded that much in ES5/ES6.  But...

`core.addPath` certainly works in that it's changes to `process.env['PATH']` are visible in subsequent steps.

I'm trying to remove some items from the Windows PATH, and also create another env variable.  They log fine in the *.js for the action, but subsequent steps are not seeing the changes.  But they are seeing changes I've made

[2019-08-30 17:17] damccorm commented on #102
Yep, in general env changes from one step shouldn't affect future steps so that each action can expect its own clean environment. If you need env var changes to propogate you can use [`exportVariable`](https://github.com/actions/toolkit/blob/99d3ad0a6473e7e7906681627a450150a772ee1d/packages/core/src/core.ts#L37) from the core library. That should include any changes to the PATH variable - we mostl

[2019-08-30 21:24] MSP-Greg commented on #102
@damccorm

Thanks for pointing that out, even though I've looked at the file, I missed it.  Not sure why that can't be done in the actions *.js file, as the call to `exportVariable` worked, but it just replaced the same code it performs.

I assume something with scoping, I'll look over the code some more...

[2019-08-30 21:24] #102 closed

[2019-08-31 03:58] hamelsmu commented on #96
Just to give some more context, the step with id `second step` in the below yaml doesn't work for me either:

[code]

Also, I don't think the status is made available either as `job.steps.<id>.status` consistently returns an empty/null value for me

[2019-08-31 15:05] xt0rted commented on #74
Was just about to ask the same thing. In a v1 workflow using `GITHUB_ACTION` for the check name worked as expected, but in a v2 workflow my checks are being called `xt0rtedeslint-action` and `xt0rtedstylelint-action` which results in extra steps showing in the workflow that never load.

An example of a v2 workflow using these actions can be [seen here](https://github.com/xt0rted/GitHub-Dark/pull/1

[2019-09-03 17:11] ericsciple commented on #96
@codfish the pr is merged for the outputs issue. the fix will roll out with the next runner update. @TingluoHuang do you know when?

@hamelsmu steps.foo.status is not a thing today. i'll open a pr to remove that from the docs.

[2019-09-03 17:18] TingluoHuang commented on #96
later this week or really next week.

[2019-09-03 18:22] xt0rted opened #104 "Release notes for @actions/github 1.0.1"
[I just got a PR](https://github.com/xt0rted/block-autosquash-commits-action/pull/37) from dependabot bumping `@actions/github` to version `1.0.1` but there doesn't seem to be release notes for this [in the project folder](https://github.com/actions/toolkit/blob/master/packages/github/RELEASES.md), or a [release/tag](https://github.com/actions/toolkit/releases). Is there an easier way to see what

[2019-09-03 18:42] damccorm commented on #104
Whoops, sorry forgot to update the release notes - they should be updated now, it included a small change to enable simpler webpack configs (#101).

[2019-09-03 19:14] damccorm commented on #57
Added docs in #105 if anyone is still looking for guidance/wants to take a look

[2019-09-03 21:43] josephperrott opened #106 "Allow for alternative authentication mechanisms for the Octokit object on construction."
Currently for the `@actions/github` this library extends `@octokit/rest`'s `Octokit` class and in the `super` call assumes that the authentication is a standard token. ([code link](https://github.com/actions/toolkit/blob/fc9958ec6a57d1b08e9a387c49971faecd0f0405/packages/github/src/github.ts#L18))

Other authentication methods should be valid here as well.

[2019-09-03 23:06] codfish commented on #96
Awesome, thanks for the update!

[2019-09-04 14:19] josephperrott opened #108 "Add info variant for logging in @actions/core"
#### Info:
Currently @actions/core provides `debug()`, `error()` and `warning()`.  These do not cover the use case of logging information that you would like to always show in the logs but are not necessarily an error or warning of an issue.

#### Feature Request:
Add an `info` variant to the logging provided by @actions/core

[2019-09-04 14:46] ibakshay opened #109 "Re-run checks not working when there is a filter"
Hello,
One of the `steps`  in the `Job` didn't  pass and so the github action check   has failed.
![Screen Shot 2019-09-04 at 16 37 29](https://user-images.githubusercontent.com/33329946/64265383-17bc2a00-cf33-11e9-8b00-eaac5f675db1.png)

Then I triggered the `Re-run checks` without changing anything. The build has skipped the `step` which was failed and the check  has passed. Ideally It should **

[2019-09-04 15:01] damccorm commented on #108
I think you can do this with a simple `console.log` statement, is there a use case where something else is necessary?

[2019-09-04 15:17] josephperrott commented on #108
I believe this is the case, but it seems odd that you would use `debug()`, `error()` and `warning()` from `@actions/core` and then just use a built-in `console.log` otherwise.  I would expect that all of the logging should occurring using methods from the same object.

[2019-09-04 15:38] damccorm commented on #108
I think the difference is that our runner has built in commands for debug/error/warning so that it processes them differently (e.g. color coding), while there's no command for info (and it doesn't really make sense for there to be one). I think I'd personally be more confused by why a function like that would exist/would assume it was hooked up to a special runner command as well.

[2019-09-04 17:50] codfish commented on #96
@TingluoHuang @thboop @ericsciple wondering if you could answer a related question I have.

The only way I've found to properly set an environment variable (and an output var) is via `@actions/core` library. I cannot figure out how to set one outside of js and have it persist. For instance, appending `export SOME_VAR=foo;` to the runners' `.bashrc` doesn't work.

I see you're using commands, i.e.

[2019-09-04 17:53] damccorm commented on #96
@codfish I actually have a PR to doc this right now - https://github.com/actions/toolkit/pull/105

To persist an output variable you can do `echo ::set-output name=FOO::BAR`, to persist an env variable you can do `echo ::set-env name=FOO::BAR`

[2019-09-04 18:10] codfish commented on #96
@damccorm awesome, thank you!

@ericsciple

To clarify, will this PR include the ability to reference steps context & outputs in the `if` property as well?

[2019-09-04 18:28] dakale commented on #96
@codfish That functionality is fixed in a separate PR, as mentioned above by Eric:

And should be released by end of week, maybe trickling into next week if there are issues duringthe release/rollout, per Ting:

[2019-09-04 18:38] hamelsmu commented on #96
Hey everyone, I have been watching this thread real-time and tested these changes and I can confirm it all works as of right now.  Below is an example yaml file:

[code]

This will give you the following output:

![image](https://user-images.githubusercontent.com/1483922/64281671-78823d00-cf08-11e9-8134-5aef2013f301.png)

[2019-09-04 19:15] damccorm commented on #106
Looking at your issue, it looks like your use case is if you don't want to authenticate at all, right? I think I see a use case there, not sure if I see a use case for alternative auth methods - does that seem right?

[2019-09-04 19:25] josephperrott commented on #106
The use case I specifically am running into is needing to authentication with a JWT.

[2019-09-04 19:30] josephperrott commented on #108
Okay, I am happy to use `console.log`.

As a data point in terms of discoverability/intiutation (and its obviously just a single data point), I expected the `info()` method to exist as there is a section for `Logging Commands`, so I figured that would be how all of my logging should be done.
 https://github.com/actions/toolkit/blob/2a1b7d5c7e080e8500b1b19b5af02b4ab049bc68/packages/core/src/core.ts

[2019-09-04 20:04] xt0rted commented on #108
I was confused by this at first too. Once I realized what the `core.debug()` etc. functions did it made sense why there wasn't one for info. It could be useful to mention this in the docs.

I've been considering creating my own logger that uses the methods from this package when available, and then fall back to `console` for the rest. That way I have a consistent logging experience.

Another optio

[2019-09-04 20:25] damccorm commented on #108
Hm, I think as I consider this more I'm actually convinced that we should have this. Thanks for the feedback.

Ultimately, while the other logging functions do have special implementations on the runner, we're exposing a logging interface and the author shouldn't have to understand that distinction. Addressed in #111

[2019-09-04 21:14] #88 closed

[2019-09-04 23:56] chunlea commented on #82
Any update?

[2019-09-05 00:49] 1138-4EB opened #112 "core.group is not working (`::group::{title}` and `::endgroup`). Document"
I'm currently using this feature to provide a 'clean' first view of each job/step. See https://github.com/1138-4EB/ghdl/runs/210613754#step:3:46. I think it'd be useful if this was documented Moreover, it'd be really useful to:

- Allow nesting groups.
- Make timing a group a built-in feature. Ideally, show the elapsed time in the same row as the arrows (first/title line of the group), not in the

[2019-09-05 06:22] damirstuhec commented on #88
Is there a plan to support this in the future?

[2019-09-05 14:10] chrispat commented on #88
At somepoint in the future we may support this but it is not on our near term backlog.

[2019-09-05 17:25] xt0rted commented on #104
Same issue with the 1.1.0 releases.

[2019-09-05 17:27] damccorm commented on #104
Updated, sorry about that - will get better at this

[2019-09-05 18:08] JJ opened #115 "The step to push the release branch should be more explicit."
I'm following instructions in the walk-through, but I get:

[code]

The documentation gives the impression that you just need to push to master.

It looks like the tarball is created automatically for the branch; but the step of uploading (through push -u origin) is not mentioned explicitly either.

[2019-09-05 18:14] xt0rted commented on #104
There's also a 1.1.0 update for `@actions/core`, are there any changes to that beside #98?

[2019-09-05 18:37] Fabien-Chouteau opened #116 "API to get temp directory"
It would useful for actions to have a reliable way to get a path to the temp directory.

In tool-cache a `tempDirectory` path is computed from various parameters but this is not available in the exported API.

[2019-09-05 18:49] damccorm commented on #116
You can use `process.env['RUNNER_TEMP']` - curious as to why you need this though

[2019-09-05 20:03] damccorm commented on #104
No, that's it. Will update there as well

[2019-09-05 20:05] damccorm commented on #115
I'm a little confused - where did you get blocked in the walkthrough? We say to create a branch, that should be all you need

[2019-09-06 00:09] mark-rushakoff commented on #69
Agreed -- please at least put a comment in upload-artifact's action.yml, so that nobody else wastes 5-10 minutes trying to figure out what `plugin: 'publish'` is all about.

[2019-09-06 06:12] JJ commented on #115
Just adding a

    git push -u releases/v1 master

or explaining that what is actually downloaded is a .tar.gz created automatically by github from the content of the branch (or tag) would have helped.

[2019-09-06 06:51] warrenbuckley commented on #65
@chrispat any idea on time-frame on when we would be able to get access to a build/run number please?

[2019-09-06 08:25] Fabien-Chouteau commented on #116
Thank you @damccorm ,

Cache-tool has a much more complex way of finding the temp forlder, I figured there must be a reason and `process.env['RUNNER_TEMP']` was not reliable enough.

I wrote an action to setup a tool that is in development. I need to check-out the sources and build it, and I don't want to pollute the current directory with that.

[2019-09-06 12:44] jeffrafter opened #118 "Add ability to mock out process.stdout calls"
Currently `issueCommand` always outputs to `stdout` here: https://github.com/actions/toolkit/blob/master/packages/core/src/command.ts#L25. This is great but when writing tests for actions it quickly fills up the logs:

[code]

If the output was wrapped in a call on the `Command` object itself then it could be mocked in the jest setup. Additionally this might pave the way for alternate logging outp

[2019-09-06 12:58] damccorm commented on #115
Does #119 look right?

I think I'd rather avoid explaining the tar.gz process, IMO that's an implementation detail that the author shouldn't need to know about.

[2019-09-06 13:20] damccorm commented on #116
Yeah, we should get rid of that actually. There was a period of time during development when some of those env variables were a little shaky as we settled on patterns. Now that we're fully in production they're reliable though.

Cool, makes sense.

[2019-09-06 13:22] #116 closed

[2019-09-06 13:55] damccorm commented on #69
It would feel a little weird to me to have docs saying "we don't support this", but I think a comment in the action.yml file makes sense.

Will add one in checkout, upload-artifact, and download-artifact, I think that's everywhere this is used.

[2019-09-06 14:13] svenstaro commented on #69
That's good enough for me.

On Fri, 6 Sep 2019 at 15:55, Danny McCormick <notifications@github.com>
wrote:

[2019-09-06 14:56] jeffrafter commented on #118
It is also possible to mock this globally in the `jest.config.js`:

[code]

[2019-09-06 15:34] JJ commented on #115
Looks fine. Thanks!

[2019-09-06 16:50] #115 closed

[2019-09-06 18:50] codfish commented on #96
Thanks @damccorm @thboop @ericsciple @dakale

Can confirm this is now working for me as well. https://github.com/codfish/actions-playground/blob/master/.github/workflows/release.yml#L48

much appreciated! You can close if you want

[2019-09-06 18:54] #96 closed

[2019-09-07 06:44] thomaseizinger opened #121 "Can actions merge a pull request?"
Not sure if this is the right place to open this issue but it seems to be the only git related action that is currently available.

So the question is: can actions _merge_ a pull request? Is there going to be a plugin for runners that allows this?

[2019-09-07 06:53] JasonEtco commented on #121
@thomaseizinger 👋 Yep, Actions can merge a pull request! You do it via the GitHub API, [`PUT /repos/:owner/:repo/pulls/:pull_number/merge`](https://developer.github.com/v3/pulls/#merge-a-pull-request-merge-button). If you're using this library, you would do something like this, using [`octokit.pulls.merge`](https://octokit.github.io/rest.js/#octokit-routes-pulls-merge):

[code]

Hope that helps! I

[2019-09-07 06:53] #121 closed

[2019-09-07 06:59] thomaseizinger commented on #121
Ah yes, of course!
Awesome, thanks :)

[2019-09-07 23:42] xt0rted commented on #104
@damccorm I was looking into this more and what I found is because this is a mono repo the `package.json` of each package needs to be modified like so:

[code]

Then `RELEASES.md` renamed to `RELEASE.md` or `CHANGELOG.md` ([as per dependabot](https://github.com/dependabot/dependabot-core/blob/35afcd3efa13e9c1bfe04edfd4461223b1681c0a/common/lib/dependabot/metadata_finders/base/changelog_finder.rb#L

[2019-09-09 08:02] JJ opened #126 "The `steps` context seems to be empty"
I've used this to try and print the `steps` context:

[code]

But it's apparently [empty](https://github.com/JJ/repo-in-diff-gh-action/pull/12/checks?check_run_id=216007643). Any idea?

[2019-09-09 14:51] ibakshay commented on #109
Could you please tell Whether It is a bug or I am missing something ? 😅.
Now after triggering Re_run checks, check status  is `pending` forever.
https://github.com/ibakshay/test-action-workflow/actions
![Screen Shot 2019-09-09 at 16 45 42](https://user-images.githubusercontent.com/33329946/64541015-71509a00-d321-11e9-9603-b141afa65c04.png)

[2019-09-09 15:18] damccorm commented on #126
`steps` uses the step id, not the name. So in your previous step it would need to be something like:
[code]

[2019-09-09 15:23] JJ commented on #126
Thanks!

[2019-09-09 15:23] #126 closed

[2019-09-09 15:46] #108 closed

[2019-09-09 15:58] #57 closed

[2019-09-10 12:00] bryanmacfarlane commented on #89
@JasonEtco, great suggestions!  I will pick this item up

[2019-09-10 12:02] bryanmacfarlane commented on #118
Thanks for logging this issue!  We will implement this (we also take PRs ;) )

[2019-09-11 05:14] manusa opened #127 "getInput replaces only first occurrence of a space character"
getInput function in `@actions/core` package only replaces the first occurrence of a "space" character.

e.g. 'require some value' will be transformed to 'INPUT_REQUIRE_SOME VALUE' which is wrong.

[code]

Following line https://github.com/actions/toolkit/blob/5fd70ca47a73ac3cc66ae853f17f93367742e6e3/packages/core/src/core.ts#L75 should probably be replaced by:
[code]

[2019-09-11 11:18] Smolevich opened #130 "Error in during install dependencies"
How can I understand that error occured?

[2019-09-11 11:18] Smolevich commented on #130
![Снимок экрана 2019-09-11 в 14 16 25](https://user-images.githubusercontent.com/7188867/64693021-0b8a1c80-d49f-11e9-9a86-064f2d33afee.png)

[2019-09-11 11:31] ibakshay commented on #109
I debugged and found out that the `re-run checks` is not working when there is a filter something like
[code]

If the remove the filter ` if: github.event.action == 'opened' || github.event.action == 'edited'` for that  step, then `re-run checks` is working fine.

I have checked for both `pull_request` and the `issues` event. The same issue is there when there is a filter for both the events.

[2019-09-12 03:47] xt0rted opened #132 "Exec commands are trimmed in the log output"
I'm testing out the `exec` package and what I'm noticing is all of the commands that I execute are logged but the first 2 characters of the command are being cut off.

- **Runner version**: 2.157.5
- **`@actions/exec` version**: 1.0.1

This is the code I'm executing:

[code]

In the raw log I'm seeing:

[code]

But in the styled log I'm seeing:

![image](https://user-images.githubusercontent.com/8

[2019-09-12 07:32] xt0rted opened #133 "Unable to create annotations"
I have two actions that create annotations after running [eslint](https://github.com/xt0rted/eslint-action) & [stylelint](https://github.com/xt0rted/stylelint-action) but I have yet to move them to v2. They run fine in v2 workflows though and annotations are created as you'd expect.

I'm trying to setup a new action that creates annotations just like my other actions but using the toolkit packages

[2019-09-13 17:58] nathany commented on #47
The third-party stopgap solution I was working on involves sending data to a different data centre, which may be why it’s not performing well enough for use. I have no idea where GitHub is hosted these days, but it was sometimes taking longer to retrieve the compressed node modules cache from a server on Azure than to just `npm install` (which itself took 3 minutes).

Looks like I'm abandoning tha

[2019-09-14 11:47] 1138-4EB commented on #112
@bryanmacfarlane, related to https://github.com/actions/toolkit/issues/57#issuecomment-524463237, currently `::[` seems to be broken, but `##[` works: https://github.com/1138-4EB/rpm-ghdl/commit/5833e06119274d24f5806fc7b1457b8532275272/checks

[2019-09-16 19:47] yvele opened #137 "Prevent concurrent workflows run on a given filtered tag/branch"
We can [filter](https://help.github.com/en/articles/configuring-a-workflow#filtering-for-specific-branches) workflows to run on specific branches and also [limit](https://help.github.com/en/articles/workflow-syntax-for-github-actions#jobsjob_idstrategymax-parallel) the maximum number of jobs that can run simultaneously when using a `matrix` job strategy.

But I would like to **limit concurrent wor

[2019-09-16 22:39] nathany commented on #65
We would like a build number for publishing docker images. This is an example for Elixir/Phoenix apps:

[code]

($CIRCLE_PREVIOUS_BUILD_NUM also came in handy)

For now I'm using `$GITHUB_SHA`, but something shorter would be nice.

[2019-09-17 03:34] 1138-4EB commented on #132
I think I'm having the same issue. For example:

- From https://github.com/1138-4EB/actions/commit/92a6da98ce69920b56e9d2b06b3a8b18be7ce88a/checks#step:2:38 to line 49, the first character (`C` or `/`) is missing.
- From https://github.com/1138-4EB/actions/commit/92a6da98ce69920b56e9d2b06b3a8b18be7ce88a/checks#step:2:50 to line 54, `[0m` is shown instead of the first character.

It might be relate

[2019-09-17 11:39] bryanmacfarlane commented on #112
Core has functions but they are not working with runner.  We are fixing.

https://github.com/actions/toolkit/blob/master/packages/core/src/core.ts#L150

[2019-09-17 12:14] 1138-4EB commented on #112
Actually, `master` version of core is using `::` (https://github.com/actions/toolkit/blob/master/packages/core/src/command.ts#L32). But that was changed 8 days ago, and the latest release is from 19 days ago (https://github.com/actions/toolkit/blob/%40actions/core%401.1.0/packages/core/src/core.ts).

Therefore, the latest release of core works ok now because it still uses `##`. As soon as a new re

[2019-09-17 12:58] bryanmacfarlane commented on #112
That's correct, we're holding off releasing the toolkit till the fix is in the runner.  I will update this issue so you can monitor here.

You are not forced to use the toolkit - it's a convenience.  You can echo from scripts which is all the toolkit does.

`::` is the official way going forward for all commands and group will work once our pools are updated in the next day or two.  `##` will work

[2019-09-17 13:02] bryanmacfarlane commented on #132
The UI issue was fixed. (1264 mentioned above)

[2019-09-17 13:02] #132 closed

[2019-09-17 13:03] 1138-4EB commented on #112
@bryanmacfarlane, thanks a lot for clarifying, and for forwarding feedback to the team.

[2019-09-17 13:04] chrispat commented on #65
Rigth now we don't even have that concpet in the system so it is going to be a ways out.  However, having some sort of run number as well as a scheme for letting customers name their runs is an area we do plan to address.

[2019-09-17 13:05] bryanmacfarlane commented on #137
Not a toolkit issue but I'm creating a feedback item for the team working on the lang.

[2019-09-17 13:07] bryanmacfarlane commented on #127
Fixed will be in next release

[2019-09-17 13:09] 1138-4EB opened #139 "Use the `job_id` to set an environment variable"
I'm trying to use the `job_id` to set an environment variable. For example:

[code]

However, it is not working. Overall, I feel that contexts derived from the workflow have very little info, too little to be really useful. This is not the case with event sources.

[2019-09-17 13:12] bryanmacfarlane commented on #86
Closing here since not toolkit related and tracking internally

[2019-09-17 13:12] #86 closed

[2019-09-17 13:23] yaananth commented on #132
☝️  that's a different issue than the linked one. `[command]` issue is fixed.
@1138-4EB  the issue is because..
We support https://en.wikipedia.org/wiki/ANSI_escape_code#3/4_bit
The log has:
`ESC[mCompiling into vunit_lib`

`ESC[m` isn't something we support.

I logged an issue to ignore such commands.
We will get it fixed

[2019-09-17 13:29] bryanmacfarlane commented on #97
Closing this out since @chrispat answered ^^ and not so much a toolkit issue.  Thanks!

[2019-09-17 13:29] #97 closed

[2019-09-17 13:31] bryanmacfarlane commented on #52
@jeffmcaffer - I'm going to close this out since we covered in detail in the walkthrough and even added diagrams in the versioning markdown document.  That's where we are at product wise.

There is a separate feature work which is being tracked as `should` for GA to allow for actions in GPR which has a very clear versioning scheme.  That's where we're headed.

Thanks for the feedback!

[2019-09-17 13:31] #52 closed

[2019-09-17 13:33] 1138-4EB commented on #132
@yaananth, thanks for explaining! Actually, that log is generated with [tartley/colorama](https://github.com/tartley/colorama). If you think that (apart/instead of working around) it is worth having colorama enhanced, please let me know. For example, ensuring that `ESC[0m` is produced instead of `ESC[m`.

[2019-09-17 13:39] yaananth commented on #132
@1138-4EB That should be okay, if the terminal responds well, I don't think we expect you to change it. Logs should just ignore things that don't matter to it :)
We have PR up to address this.

[2019-09-17 14:20] bryanmacfarlane commented on #112
@1138-4EB , product suggested creating a discussion @ https://github.community and referencing this issue for the nested groups suggestion.

[2019-09-17 14:26] bryanmacfarlane commented on #139
@thboop - can you take a look.  Doesn't look like a toolkit issue but perhaps you can answer quickly.

[2019-09-17 14:47] 1138-4EB commented on #112
Done! https://github.community/t5/GitHub-Actions/Feature-Request-Enhancements-to-group-commands-nested-named/m-p/31892#M931

[2019-09-17 15:02] thboop commented on #139
Hey @1138-4EB thanks for the feedback!

This [page](https://help.github.com/en/articles/contexts-and-expression-syntax-for-github-actions#job-contexts) lists the values available in the context, the job context currently does not contain an Id field.

Are there any other fields on any of the contexts that would enable you to build better workflows? I'll make sure to capture those in our feedback t

[2019-09-17 16:25] florianwiech opened #140 "Allow regex in event path"
It would be great if it would be possible to define the path event on an arbitrary amount of sub-directories:

[code]

- [Syntax Docs](https://help.github.com/en/articles/workflow-syntax-for-github-actions#onpushpull_requestpaths)

[2019-09-17 17:49] thboop commented on #133
Hi @xt0rted,

I'm having trouble reproducing this issue.
Could you also provide an example `output` variable?
If possible, could you also provide a link to a run using your action, or a link to your action.

I tried the following below:

Here are the packages I am using:
[code]
Here is my action main.ts
[code]
Here is how I invoke the action
[code]

[2019-09-17 18:43] xt0rted commented on #133
@thboop I'll have to take a look at this again later, but the main difference I see between the two setups is yours isn't creating annotations in the update call. I'm able to create the checks run just fine, but when it comes to the annotations that's when the request fails.

[2019-09-17 19:00] svartalf commented on #65
Build number might also be needed by the code coverage services, for example, see `service_number` parameter for [coveralls](https://docs.coveralls.io/api-reference) and `build` for [codecov](https://docs.codecov.io/reference).

[2019-09-17 20:03] thboop commented on #133
@xt0rted
Sounds great, thank you!
I can confirm I can push annotations as well, I've updated the above code snippets.

[2019-09-18 01:11] xt0rted commented on #133
@thboop this is embarrassing, the issue was on my end. I was setting the `start_column` for the annotation, but not the `end_column`. That's why the requests kept failing. [The docs](https://developer.github.com/v3/checks/runs/#annotations-object) don't really mention this but after some trial and error that's what I narrowed it down to.

The issue I'm facing now is how to get the annotations to b

[2019-09-18 02:32] xt0rted commented on #133
After some more testing I'm seeing that if the workflow runs on `push` the annotations are created and shown, but if the workflow runs on `pull_request` the annotations are created but they don't get shown anywhere.

[2019-09-18 19:30] thboop commented on #133
Hey @xt0rted
The checks API requires the `head_sha`, the sha provided by `github.context.sha` for `pull_request` builds is a merge sha, so these do not end up aligning.

I'm going to take this feedback to the team and see how we can improve this experience! Thanks for your feedback and quick responses on this item we really appreciate it!

For now, you can use access the `head_sha` for pull reques

[2019-09-19 09:27] ArnaudRinquin opened #142 "Simple on.push.paths settings not being applied?"
Hi,

We're running a monorepos and setup a handful of workflows targeting specific paths, such as:

[code]

The issue we're facing is that all workflows run whenever we push, regardless of the actual path changes.

Something that might explain: our main branch isn't master but another one. Any idea?

[2019-09-19 11:18] klingtnet opened #144 "Workflow badges return 404"
I was not able to configure a badge as described [in the documentation](https://help.github.com/en/articles/configuring-a-workflow#adding-a-workflow-status-badge-to-your-repository). The `badge.svg` resource always returns 404, either for the [example](https://github.com/actions/hello-world/workflows/.github/workflows/main.yml/badge.svg) or for [the one I tried to setup](https://github.com/klingtn

[2019-09-19 12:01] xt0rted commented on #144
The workflow name is case sensitive, try using `https://github.com/klingtnet/toolbelt/workflows/Go/badge.svg`.

![badge](https://github.com/klingtnet/toolbelt/workflows/Go/badge.svg)

[2019-09-19 13:36] #144 closed

[2019-09-19 14:49] TingluoHuang opened #145 "Adding `saveState()` and `getState()` to core for supporting wrapper action"
Use `saveState(name, value)` to save any state info in the main execution that only shared with action's post execution.

Use `getState(name)` in post execution to retrieve any state info saved by the main execution.

[2019-09-19 17:53] gr2m opened #146 "Has the `setNeutral` method been removed?"
I don't find it in the code. And there is a test that claims to test it but actually does not:

https://github.com/actions/toolkit/blob/6fcaac504651656d8ae9f23ff94b386925ed9281/packages/core/__tests__/lib.test.ts#L128-L131

Has the neutral exit code been removed from actios altogether?

[2019-09-19 19:59] warrenbuckley opened #147 "@actions/GitHub - TypeScript Definition for WebHookPayload is limited"
Please can the `WebHookPayload` interface/type definition be updated to support more properties from GitHub Webhook/payloads such as `Push` event.

To get details about the commit/s and the files added, modified and deleted, which is useful for a linting tool to know which files to lint, as opposed to running it over an entire repository which could be quite slow if it contains lots of files.

[2019-09-19 20:37] demurgos opened #148 "Missing `types` field in `package.json`"
The `package.json` files have a `main` field but are missing a `types` field, it prevents some editors (such as Jetbrains' Webstorm and Intellij) from picking the type declarations and providing autocompletion.

For example, for `@actions/core`, the `package.json` should look like this:

[code]

[2019-09-19 20:38] ibakshay commented on #109
Hi @cdb, thank you for the update.   Is there any progress  on this issue ? 😃

[2019-09-19 20:59] ibakshay commented on #109
when i debugged, I  found out that I am also facing the same issue. During re-run some other context is triggered.

[2019-09-19 21:56] demurgos commented on #148
I found that the error was on my end, I was using the Typescript options `allowSyntheticDefaultImports` and `esModuleInterop` with default imports (instead of star imports) while the modules are marked as transpiled from Typescript. After switching to star imports, it works. It may still be a good thing to add the `types` field but it's less important.

[2019-09-19 22:21] cdb commented on #109
@ibakshay - Some coworkers are putting a fix together that I believe will address this for you. I don't have an ETA for you though. This issue is staying in my inbox so I don't forget to report back ;)

[2019-09-20 02:03] TingluoHuang commented on #145
https://github.com/actions/toolkit/pull/149

[2019-09-21 06:05] peter-evans commented on #146
My guess is that Actions doesn't handle other exit codes yet and so this functionality is not yet available. The test seems to have been added like that. This is when it was first commit.
https://github.com/actions/toolkit/commit/a526749ce96e66c4e8c32ddc43f099c6830d0345#diff-ce52518b05efe344d702cb7e7d01da6aR38-R41

[2019-09-21 10:56] ann-kilzer commented on #146
I would really love a neutral exit code.

[2019-09-23 09:24] 1138-4EB commented on #139
Thank you for stepping by, and my apologies for taking long to reply...

You are correct. This issue is a feature request. The syntax above is just an example among the multiple test I did before opening this issue. I wrote it because I think it is an 'intuitive' syntax.

Let's take the following example (https://github.com/1138-4EB/actions/commit/de2fddd87001ea5fa7227c03320d89834598fbe8/checks):

[2019-09-23 12:46] ibakshay opened #159 "optional read/write permission for forked repos"
Hi,
I am using `GITHUB_TOKEN` secret to make authenticated GitHub API calls on behalf of an action.

I am the maintainer of [CLA Assistant](https://github.com/cla-assistant/cla-assistant) OAuth App and we are developing `CLA Lite GitHub Action`. The  contributors data will be stored in the file-system (json file) inside the repository of where the `CLAAssistant.yml` is configured.

 However, we ju

[2019-09-23 15:53] ethomson commented on #142
Hi @ArnaudRinquin - thanks for trying GitHub Actions, and I'm sorry that you're having trouble with your workflow.

This repository contains the toolkit for developing new actions, so unfortunately we're not able to assist with workflow questions.  I'd encourage you to ask on the **[GitHub Actions Community Forum](https://github.community/t5/GitHub-Actions/bd-p/actions)**, where the GitHub Actions

[2019-09-23 15:53] #142 closed

[2019-09-23 16:58] ethomson commented on #159
Hi @ibakshay - thanks for the question.  It looks like you’ve also posted this on the [GitHub Actions Community Forum](https://github.community/t5/GitHub-Actions/optional-read-write-permission-for-forked-repos/m-p/32495#M1159) which is a better place to discuss this question.  Since this repository contains the toolkit for developing new actions, I’m going to close this and we can continue discuss

[2019-09-23 16:58] #159 closed

[2019-09-23 17:04] ethomson commented on #140
Hi - thanks for trying GitHub Actions, and I appreciate the suggestion.  We have some changes to the way path matching works to simplify it while keeping it more powerful.

In the meantime, I’m going to close this issue since it doesn't apply to the GitHub Actions toolkit itself.  But if you have any other questions or problems with GitHub Actions, I’d encourage you to ask on the **[GitHub Actions

[2019-09-23 17:04] #140 closed

[2019-09-23 17:04] ethomson commented on #137
Hi - thanks for trying GitHub Actions, and I appreciate the suggestion.    We've created a feedback item for the team working on the language.

I’m going to close this issue since it doesn't apply to the GitHub Actions toolkit itself.  But if you have any other questions or problems with GitHub Actions, I’d encourage you to ask on the **[GitHub Actions Community Forum](https://github.community/t5/

[2019-09-23 17:05] #137 closed

[2019-09-23 18:29] yoavain commented on #100
You can use my action here as reference:
[Setup-CSC project](https://github.com/yoavain/Setup-CSC)
You can see changes from version 4 to version 5 there.

In my opinion best practice is:
- not to check-in node_modules at all
- use webpack to create a single file bundle under lib
- remove the git-diff from the action (that makes sure lib files are committed)
- instead, use husky, pre-commit hook to

[2019-09-24 00:44] thomaseizinger commented on #100
That is certainly better than checking in `node_modules`!
Ideally, I would want to release a to GPR/npm on _tagged_ commits and have other people use this package. That would be the cleanest approach IMO.

[2019-09-24 03:57] yoavain commented on #100
One more advantage of using webpack is the size of the code base, which improves performance for anyone using your action. When I replaced node_modules with webpack, source code zip size reduced from ~900K to ~150K

[2019-09-24 07:11] Anumita commented on #82
I have used both 1.1.0 and 1.1.1 version of tool cache and i am still getting the below error for ubuntu and mac agents:
_There was an error when attempting to execute the process '/Users/runner/runners/2.158.0/work/k8s-helm-test/k8s-helm-test/setup-helm/node_modules/@actions/tool-cache/scripts/externals/unzip-darwin'. This may indicate the process failed to start. Error: spawn /Users/runner/runne

[2019-09-24 08:35] manusa commented on #127
I confirm it's fixed and available in v1.1.1

[2019-09-24 11:58] #127 closed

[2019-09-24 12:06] bryanmacfarlane commented on #148
In addition actions should have dev dependency on types:
https://github.com/actions/javascript-action/blob/master/package.json#L26

But yeah, looks like a good thing to set per docs:
https://www.typescriptlang.org/docs/handbook/declaration-files/publishing.html

[2019-09-24 16:16] gimenete commented on #86
We have shipped a fix for this. Here's a blog post with more information https://github.blog/changelog/2019-09-24-ui-changes-in-github-actions-checks/

[2019-09-24 21:50] bryanmacfarlane commented on #82
I just released 1.1.2 which should address the core of the issue (ENOENT) and simplified it by using zip and unzip from the path

@Anumita, if you're having an EACCES issue, please open an new issue with repro steps.

@chunlea - thanks for reporting.  After a ton of investigations we ended up taking your original suggestion.

Everyone, if you get an ENOENT after adopting, 1.1.2, please let me know

[2019-09-24 21:50] #82 closed

[2019-09-25 00:00] bryanmacfarlane commented on #146
👋 the service has a GA item to respect neutral code.  The toolkit doesn't implement.  That test was a copy past that just tests failure.

A bit on history - actions v2 has a status of skipped.  It was asserted that's what we needed.  However, skipped is more about conditions on steps and jobs where it never executes (your action code never enters).  Neutral is more about you got into the action co

[2019-09-25 00:06] gr2m commented on #146
Is the exit code 78 still supported or should we refrain from using it at this point?

[2019-09-25 00:23] bryanmacfarlane commented on #104
We would gladly accept a PR.

[2019-09-25 00:26] bryanmacfarlane commented on #146
Neutral (78) is not respected right now but there's plans to add before GA.  There's discussions around whether it's 78.  This toolkit was waiting on that before adding the method.

@ethomson

[2019-09-25 00:26] xt0rted commented on #104
This change is in #143

[2019-09-25 00:34] bryanmacfarlane commented on #139
The contexts are rational is mostly around being able to reference them in yaml conditions and data values.  They are separate because things like the github context and event payload are opaque (new events, data can be added) and about the event which are independent to the actions job and step context which is more about the graph execution.

It's covered here:
https://help.github.com/en/article

[2019-09-25 00:34] #139 closed

[2019-09-25 00:36] bryanmacfarlane commented on #133
@thboop @xt0rted - OK to close this issue from a toolkit perspective?  It seems like we figure it out but I want to make sure.

[2019-09-25 00:50] xt0rted commented on #133
@bryanmacfarlane the annotations are working now, but I'm not sure how to associate them with the job that created them. This worked in v1 by using `GITHUB_ACTION` as the check name but not in v2 so far. This doesn't really feel like a toolkit issue, just lack of docs or server side functionality.

An example run can be seen [here](https://github.com/xt0rted/eslint-action/pull/18/checks?check_run_

[2019-09-25 01:09] 1138-4EB commented on #139
Precisely, my previous message was a direct reply to @thboop asking for specific feedback. I'm already redirecting my questions to the community site.

[2019-09-25 01:09] bryanmacfarlane commented on #112
This is released and I updated the docs:  https://github.com/actions/toolkit/blob/master/docs/commands.md#group-and-ungroup-log-lines

[2019-09-25 01:09] #112 closed

[2019-09-25 01:16] 1138-4EB commented on #112
In the new docs, `echo ::ungroup::` is shown, but the toolkit is still producing `::endgroup::`, according to https://github.com/actions/toolkit/blob/master/packages/core/src/command.ts#L32 and https://github.com/actions/toolkit/blob/master/packages/core/src/core.ts#L157. Which one is correct/up-to-date?

[2019-09-25 02:10] bryanmacfarlane commented on #139
Awesome.  thanks @1138-4EB

Note that I also cc'd @chrispat above from lang product so he has context.

[2019-09-25 02:14] bryanmacfarlane commented on #112
<sigh> typo in docs.

It's endgroup.  I just updated the docs.

Thanks for catching that.

[2019-09-25 02:38] bryanmacfarlane commented on #73
Here's the new doc: https://github.com/actions/javascript-action/README.md

I supposed that has the same issue?  Should we just not to edit the index.js file?

[2019-09-25 09:21] ethomson commented on #146
I'd refrain from using it.  I'd like to switch to some unambiguous out-of-band mechanism for signalling neutral continuation.  (eg, `::set-status neutral`)

[2019-09-25 15:31] JLLeitschuh opened #162 "[SECURITY] GitHub Actions downloadTool API allows download over insecure HTTP protocol"
Original report on H1 to the GitHub security team: https://hackerone.com/bugs?subject=user&report_id=689850

---

The GitHub Actions `downloadTool` API allows the download of tools over HTTP instead of forbidding it and forcing HTTPS or requiring opt-in flag for the insecure usage.

This is a security vulnerability pervasive in the Java ecosystem that I've been working to help stop. We have a chan

[2019-09-25 19:08] JLLeitschuh commented on #162
Possibly blocked by: https://github.com/microsoft/typed-rest-client/issues/165

[2019-09-26 05:27] tianhaoz95 opened #163 "how to disable core.debug in testing"
Is there a way to disable `core.debug` when I am running jest locally? It is not so helpful to have all the logs on when running regression test.

[2019-09-26 13:56] thboop commented on #56
We should cover that these will create annotations, and how else users can create annotations using issues on the toolkit docs!

[2019-09-26 13:57] thboop commented on #133
Hey @xt0rted ,
We are currently working on smoothly this experience out for you!

Our recommended flow for this is going to be using problem matchers, as these will automatically create issues on the run. We have a feature in development which will create annotations for issues on your run, providing the end to end functionality I believe you are trying to accomplish. This should allow you to more

[2019-09-26 14:50] thboop commented on #74
Related to #133, #56
Hey @Ignigena, thanks for the feedback!

We are looking into updating the docs and functionality around creating annotations to make this a smoother experience across the board. The end to end functionality around using problem matchers to create annotations is currently being worked on, and we would recommend you use that approach.

That being said, I'll take the feedback aro

[2019-09-26 15:14] Ignigena commented on #74
Just to clarify "that approach" from what I'm reading on the linked issues:

- Right now there's no reliable way to trigger annotations in the same job context as the current run. This used to be possible in V1 of Actions using the job name, and y'all will discuss some method of bringing this back for V2

- The recommended approach in the meantime is to create a new job and perform annotations on

[2019-09-26 15:20] xt0rted commented on #133
@thboop I'll give this a try and see how it works compared to the api approach.

[2019-09-26 15:20] xt0rted commented on #56
@thboop as per my comments above I was unable to use problem matchers in a docker based action. Should that be possible or can you only use problem matchers in javascript based actions?

[2019-09-26 17:48] thboop commented on #74
This is more of a workaround for the current feature set.

We will look into making the job name available in the toolkit.

However, we are developing flows to add annotations in the toolkit as a core command, rather then using the octokit library. The main example of this is via the problem-matcher command, but this could extend this to other commands or new commands. Once this functionality is a

[2019-09-26 17:52] thboop commented on #56
@xt0rted, problem matchers should work in actions running in docker. I'll take a look shortly and create a ticket if I'm able to reproduce the issue. Otherwise, do you have an example you can link?

[2019-09-26 18:16] xt0rted commented on #56
@thboop after I couldn't get it to work I switched to using [log commands](https://github.com/actions/toolkit/blob/master/docs/commands.md) since it achieved the same thing.

[2019-09-26 19:21] xt0rted commented on #133
@thboop I forgot to ask, when creating annotations with the api you can add [action buttons](https://developer.github.com/v3/checks/runs/#check-runs-and-requested-actions) to them. The UI shows them and reacts to clicking them, but I wasn't able to get that to trigger a workflow on [`check_run:requested_action`](https://help.github.com/en/articles/events-that-trigger-workflows#check-run-event-chec

[2019-09-26 19:51] thboop commented on #133
@xt0rted , that doesn't seem intended. Other users recently reported similar issues with triggering workflows from apps. I'll pass along that you are seeing this issue as well to our engineering team.  You can also reply in the [community forums](https://github.community/t5/GitHub-Actions/Actions-are-not-triggering-when-the-PR-was-created-using-API/td-p/32379).

Just for clarity's sake, I do not t

[2019-09-26 20:30] Ignigena commented on #74
Ahh yes thank you for the clarification. If this is a core command to add notations it would solve all of these concerns. I'll follow along on the other issue and try it out as soon as you have something ready to start testing.

[2019-09-29 21:01] domenkozar opened #164 "Add stdin support to exec"

[2019-09-30 11:16] warrenbuckley commented on #133
Sorry to hijack this thread as I am interesting in using the Checks API for a linting tool as a GitHub Action like you are @xt0rted

With @xt0rted your example you have a new check run called `self` but to me this seems a super confusing UI to have a seperate tab to try and find the annotations.

![image](https://user-images.githubusercontent.com/1389894/65873782-f147ae00-e37b-11e9-8c5f-9152d06d0d

[2019-09-30 16:08] domenkozar opened #166 "EACCES with downloadTool"
[Failure](https://github.com/cachix/cachix-action/commit/5fb1e58f9c652e1cbc69d134cb5da09a38e5a65b/checks)

[Source](https://github.com/cachix/cachix-action/blob/master/src/main.ts#L14)

[2019-09-30 18:55] elgohr opened #168 "First set-output ignored"
As seen in https://github.com/elgohr/ecr-login-action/pull/2 , the first `set-output` seems to be ignored. I wasn't able to figure out why, as I'm not able to test it without publishing test releases. Could you please help on that?

[2019-09-30 21:07] thboop commented on #56
@xt0rted sorry for the delay!
We did recently fix a bug where the workspace of actions running in a container was getting set incorrectly (which may have prevented you from registering a problem matcher as it would not be able to locate the file correctly). That being said, Problem Matchers appear to be working fine in containers for me! Please file an issue if you run into the problem again!

[2019-09-30 21:42] domenkozar commented on #166
Ah, the file is not executable.

[2019-09-30 21:42] #166 closed

[2019-10-01 07:53] domenkozar opened #169 "Check for executable permission in exec.exec"
Otherwise you get EACCES, which can be confusing.

[2019-10-01 07:54] domenkozar opened #170 "How to source shell script?"
I want to write an action that will source a bash script to set all variables.

[2019-10-01 13:41] thboop commented on #168
Hey @elgohr ,
Commands need to be the first item on their line (ignoring white-space) in order to be executed. That may be the issue you are running into, we can update the docs to make that more clear. Do you have example output from your action you could share?

[2019-10-01 18:59] thboop opened #173 "Docs: Add Package installation steps to each package's subtree"
We should add npm installation one liners to each npm package's subtree .

An example would be  `npm install @actions/core `

This should help users who are less familiar with NPM and JS developing actions on-board to building an action more effectively!

[2019-10-01 19:39] elgohr commented on #168
As the acion handles with credentials I don't have an example.
But the hint with the new line was really good. I'll try that first.

[2019-10-01 19:42] xt0rted commented on #104
The change log is showing in Dependabot's PRs now https://github.com/xt0rted/block-autosquash-commits-action/pull/44

[2019-10-01 19:42] #104 closed

[2019-10-02 06:42] mohsenoid commented on #65
We migrated from GitLab CI to GitHub actions and we used to use the incremental integer build number as Android app version code but now we have no idea what to do without it. 😞

[2019-10-02 07:30] joernahrens commented on #65
I had the same problem and for now I'm using a small Firebase project (Cloud Function + Database) as a hack for that. You can create a free Firebase project, upload the cloud function and use something like this in your workflow:

[code]

Of course your build process has to use the env variable then. Kind of a weird idea, but works well for us.. 😉

This is the project: https://github.com/joernahre

[2019-10-02 07:37] mohsenoid commented on #65
nice hack!
I will check and maybe do it till we get the build number feature in GitHub Actions CI.

[2019-10-02 11:50] bryanmacfarlane opened #175 "Test timing out on some hosted macOS runs"
● @actions/exec › Handles child process holding streams open

    thrown: "Exceeded timeout of 5000ms for a test.
    Use jest.setTimeout(newTimeout) to increase the timeout value, if this is a long-running test."

      255 |   })
      256 |

          |   ^
      258 |     const semaphorePath = path.join(
      259 |       getTestTemp(),
      260 |       'child-process-semaphore.txt'

[2019-10-02 12:18] #175 closed

[2019-10-02 17:18] #74 closed

[2019-10-02 17:30] thboop commented on #133
Hey @warrenbuckley

I am hopeful you are going to be really happy with the new annotation features once they are ready! They are currently being worked on!
In particular:
- We plan on having annotations attached to the current job/check to clear up the confusion you highlighted in your image above!
- Creating annotations as an action developer or a user creating action workflows will be much easie

[2019-10-02 18:03] thboop commented on #168
I'm going to close this issue for now, please let me know if you are still encountering issues and we can investigate again!

[2019-10-02 18:03] #168 closed

[2019-10-02 22:57] bryanmacfarlane commented on #173
https://github.com/actions/toolkit/pull/178

I added it to the top level readme and then deferred to each package

[2019-10-02 22:57] #173 closed

[2019-10-02 22:58] bryanmacfarlane commented on #170
Do you want it to affect that actions steps or future steps in the job.  In other words, to you want it to be step or job scoped.

[2019-10-02 23:01] bryanmacfarlane commented on #169
exec is about running.  The vast majority of the time, the tools that exec is running is intalled on the VM or container as executable.  If you have an action that you're authoring that is pulling down scripts or binaries that need to be set as executable then that's on the action to set before calling exec.

[2019-10-02 23:08] bryanmacfarlane commented on #164
recasting as a feature request.  If you can add any details or scenarios to the description, that would be appreciated.

[2019-10-02 23:11] bryanmacfarlane commented on #163
The current model is for the action to emit the output and the runner to conditionally add to logs based on setting.

Can you clarify whether you want a way to silence during E2E testing or unit testing etc...?

[2019-10-02 23:13] bryanmacfarlane commented on #162
Thanks for reporting!  I'll look into this.

[2019-10-03 00:13] bryanmacfarlane commented on #133
Closing per ^^ discussion.  Let us know if there's something actionable in toolkit outside the items covered above and we can consider re-opening or another issue

[2019-10-03 00:13] #133 closed

[2019-10-03 15:59] tianhaoz95 commented on #163
Unit testing. For a `node.js` action, locally when i run `jest --quiet`, if I have some `core.debug` in my code, it will still print out to my console. I am guessing it is because jest doesn't recognize lower level logging. Is there a way that I can set some environment variable `ACTION_LOG=false` to disable that? I know that setting GitHub action secret can do that, but is there a equivalent loca

[2019-10-03 16:25] cdb commented on #109
@ibakshay - We've rolled out updates on our end for ensuring a re-run gets the same event data as the original run. Hopefully this will help you out on this issue?

[2019-10-03 17:52] bryanmacfarlane commented on #89
Done.  Thanks!

[2019-10-03 17:52] #89 closed

[2019-10-03 18:05] xt0rted commented on #163
I think this is a duplicate of #118

[2019-10-03 19:59] nathany commented on #65
`git rev-list --count HEAD` is a suitable solution for our needs

[2019-10-03 21:00] tianhaoz95 commented on #163
@xt0rted I think you are right. What is the final decision? jest config or some alternative?

[2019-10-05 09:20] ibakshay commented on #109
Hi @cdb, I just checked and re-run is working great now 💯😄. Thank you very much for being responsive and letting me know after rolling out the update ..

[2019-10-05 09:20] #109 closed

[2019-10-05 16:48] Scrxtchy opened #181 "Example workflow.yml is a 404"
At the bottom of the workflow setup page is are these links
![image](https://user-images.githubusercontent.com/12771982/66258006-c205c680-e7eb-11e9-8b37-4904cac43be0.png)

the workflow.yml links to this repo, but the link is dead

https://github.com/actions/toolkit/blob/master/.github/workflows/workflow.yml

it has been renamed on 1643ea2734516db5d2fe78423234cd638d5bdbb8 and not updated on the git

[2019-10-06 01:27] ioquatix opened #182 "Naming of exec"
It's a little bit confusing because `exec` in unix has a different meaning from exec in this module. Additionally writing `exec.exec` just looks weird. I wish you consider improved name, e.g. `exec.system` which is more in line with existing naming conventions.

[2019-10-06 18:02] xt0rted commented on #133
@thboop I switched one of my JS actions over to use a problem matcher. It'd be helpful if there was a function in the toolkit to facilitate registering them (they seem to still use `##` instead of `::` based on the setup environment actions). The lines in the log are being highlighted as errors, but annotations aren't created. Is that part functional yet?

[2019-10-07 14:40] thboop commented on #133
@xt0rted , That feature is not quite ready yet, we will update the docs with more information when it is available!

[2019-10-08 16:19] JLLeitschuh commented on #162
Any updates. I'd like to make sure we don't reach a point where there are lots of actions out there that are unintentionally insecure. The sooner this is nipped in the bud, the fewer projects I'll have to track down later that are vulnerable to this.

[2019-10-09 13:05] bryanmacfarlane commented on #162
Security issues should not be logged here per https://github.com/actions/toolkit/blob/master/SECURITY.md

We will follow up on the bug bounty for discussions

[2019-10-09 13:59] JLLeitschuh commented on #162
They told me to report it here and open a PR. I don't have a huge amount of free time. I started on one but got blocked by the `typed-rest-client` issue: https://github.com/microsoft/typed-rest-client/issues/165

[2019-10-09 15:01] bryanmacfarlane commented on #162
I'm following up.

[2019-10-10 01:36] bryanmacfarlane opened #184 "Support list input type"
Thank you 🙇‍♀ for wanting to create an issue in this repository. Before you do, please ensure you are filing the issue in the right place. Issues should only be opened on if the issue **relates to code in this repository**.

* If you have found a security issue [please submit it here](https://hackerone.com/github)
* If you have questions about writing workflows or action files, then please [visit

[2019-10-10 01:42] bryanmacfarlane opened #185 "Support dynamic outputs"
**Describe the enhancement**
Sometimes the number of outputs is not known in advance.  For example, if I retrieve 5 values from a store based off a wild card or list input.

Note that forward declaring outputs is useful for driving intellisense but in the case of dynamic outputs, it's not as critical as it's not known up front.

**Code Snippet**
[code]

[code]

**Additional information**
Add any o

[2019-10-10 03:33] bryanmacfarlane commented on #182
Thanks for logging an issue!

Since this is a node based lib, it was following the [node naming pattern of exec](https://nodejs.org/api/child_process.html#child_process_child_process_exec_command_options_callback).

Regarding exec.exec, it doesn't have to be that. e.g. in typescript ...

[code]

or

[code]

This is public and released so we probably won't be renaming it.  Thanks for logging though

[2019-10-10 03:33] #182 closed

[2019-10-10 03:35] bryanmacfarlane commented on #181
Thanks!   I'll log an issue for the front end.

[2019-10-10 03:38] bryanmacfarlane commented on #170
checking for answer to ^^.  Thanks!

[2019-10-10 03:39] #169 closed

[2019-10-10 03:40] bryanmacfarlane commented on #47
@joshmgross is working on this

[2019-10-10 03:51] ioquatix commented on #182
I see `exec` follows the nodejs pattern. That makes sense. But their module is not named after a function, it's named after a noun `child_process`. So, to extrapolate that, naming the module after a verb is maybe less than clear, at least in this context. Maybe such a useful function doesn't need to sit in it's own module, but can be moved into core, where it would become `core.exec`.

[2019-10-10 18:29] bryanmacfarlane opened #186 "Toolkit Annotation support"
The toolkit should support first class support for adding annotations

[code]

Annotation object [will match this](https://developer.github.com/v3/checks/runs/#annotations-object)

Annotation level will be a toolkit enum which gets written as a string to the annotation.  We need to add Notice to the timeline issue

[code]

the equivalent cmd will accept properties that [match the annotation proper

[2019-10-10 18:44] TingluoHuang commented on #186
the problem matcher produce:
[code]

[2019-10-10 18:52] bryanmacfarlane commented on #186
^^ yep, and per note from description above, if the error or warning cmd come across with those properties, it will (for compat) make it's way to an issue object and then an annotation.  problem matchers will be changed to write the new command syntax.  Also above is not doc'd for error/warning and will not be.

[2019-10-12 11:40] domenkozar commented on #170
In my use case, I'd like it to be job scoped (so my action can provide an enviroment).

The use case is installing https://github.com/marketplace/actions/install-nix and activating Nix installation (which sets a bunch of environment variables).

[2019-10-14 23:32] xt0rted commented on #118
These log messages from tests are now causing annotations to be created when they shouldn't be. You can see an example of this in my most recent action run here https://github.com/xt0rted/slash-command-action/pull/34/checks?check_run_id=259915650#step:8:9 and here https://github.com/xt0rted/slash-command-action/pull/34/checks?check_run_id=259915650#step:8:63.

[2019-10-15 00:45] bryanmacfarlane commented on #118
@xt0rted - not related to mocking but I think proper annotations support will fix your issue.  I can prioritize the first half of that work (ensuring logging warning / error output doesn't create an annotation).  That's a bug and I can fix.  Sound ok?  https://github.com/actions/toolkit/issues/186

[2019-10-15 14:12] bryanmacfarlane commented on #186
@thboop is picking up this work today.

[2019-10-15 18:11] JLLeitschuh commented on #162
@bryanmacfarlane Friendly ping. I haven't heard anything on the h1 issue.

[2019-10-16 01:12] bryanmacfarlane commented on #162
The typed-rest-client changes are in.  Next, this will consume that for security in depth.  Finally, I'm going to change this lib in a minor version update to default to http not allowed but have an option to allow explicitly (cases where that's intended).  I'm also going to re-open even though we're trying to track sec issues outside of issues to discourage leveraging.  In this case, it's more ab

[2019-10-16 12:52] JLLeitschuh commented on #162
I'd advocate for SHA-256 signatures be passed if HTTP isn't supported over an explicit opt-out.

[2019-10-16 13:18] bryanmacfarlane commented on #162
That's up to the specific actions.  The api being discussed here is a low level http download to file.

[2019-10-17 09:52] lovasoa commented on #58
Is it common to have the same action several times as different steps in the same job ? I have never seen it before, and I found the behavior is quite surprising. Is support for caching between jobs planned ? It could really help speed up builds.

[2019-10-17 15:17] JamesIves opened #188 "Action exits early without completing"
I'm using the action toolkit to re-write an action of mine, and I'm having a hard time getting it to complete the processes within it. The action essentially deploys to a GitHub pages branch, and requires running a number of `git` commands. For this I've used `@actions/exec` and wrapped it in a function so I can more easily set the `cwd`. You can see an example of this below:

[code]

The problem

[2019-10-18 02:48] xt0rted commented on #118
@bryanmacfarlane I meant to post that on #163, both issues a pretty similar in their end goal.

[2019-10-21 20:02] joshmgross commented on #188
Hey @JamesIves,

I think you need to `await` the `exec` inside your `execute` function, since it's `async`.

Possibly something like:
[code]

or

[code]
Based on https://github.com/actions/toolkit/tree/master/packages/exec#outputoptions

Let me know if that helps!

[2019-10-21 20:05] joshmgross commented on #181
Thanks for reporting this!
That link now points to https://github.com/actions/toolkit/tree/master/.github/workflows

[2019-10-21 20:05] #181 closed

[2019-10-21 20:15] bryanmacfarlane commented on #188
Also, why are you wrapping exec with your own execute function?  simply await exec.

[2019-10-21 20:16] #145 closed

[2019-10-22 23:51] 1138-4EB commented on #112
@bryanmacfarlane, this is still broken. Would you mind reopening this issue?

Please, find a reproducer in https://github.com/1138-4EB/actions/tree/test-groups and https://github.com/1138-4EB/actions/commit/f0d4c7dc00da0544f73463fb8b0db72cec5b1a01/checks?check_suite_id=276862247. Five different methods are used to create a group:

- `core.js`: core.group feature of @actions/core
- `dots.js`: plain

[2019-10-23 00:21] bryanmacfarlane commented on #112
@1138-4EB - NP.  Thanks for confirming.

[2019-10-23 18:39] juliobbv opened #192 "Leverage new echo-ing actions command capabilities"
**Describe the enhancement**
The actions runner is planned to support two new commands to finely-grain control the echo-ing of [logging commands](https://help.github.com/en/github/automating-your-workflow-with-github-actions/development-tools-for-github-actions#logging-commands): `::echo::off` and `::echo::on`.

This issue tracks leveraging the echo command where it's most convenient.

**Code Snip

[2019-10-24 15:29] JLLeitschuh commented on #162
Is it though? Doesn't the supply chain of one action cause a rippling effect down the supply chain?

I could understand this decision for internal corporations that have actions that only impact their supply chain, but when you are dealing with actions that are being used to build open-source software, I feel like requiring an SHA hash for HTTP downloaded resources seems completely reasonable.

[2019-10-24 15:32] Bremonterro1 commented on #162
Yes I’m sorry but who info are you looking for?

On Thu, Oct 24, 2019 at 10:29 AM Jonathan Leitschuh <
notifications@github.com> wrote:

[2019-10-27 21:21] dixonwille commented on #186
Maybe I am miss understanding the "no documentation" around error and warning. I notice in this repository it is not but [here](https://help.github.com/en/github/automating-your-workflow-with-github-actions/development-tools-for-github-actions#set-an-error-message-error) it is. I have an action using the `error` command and expected an annotation (docs don't say it explicitly, but that was the onl

[2019-10-27 21:28] svartalf commented on #186
Adding to @dixonwille message, it would be nice to clarify if it is okay to output multiline messages with `::error`/`::warning`

[2019-10-28 02:56] bryanmacfarlane commented on #186
@dixonwille - yes, apologies.  we intended to hold back on the documentation as it was going to be removed.  We are preparing a patch to get back inline with the docs and hopefully go out tomorrow.  we will probably abandon this specific issue and redefine toolkit error, warning with new optional parameters (as opposed to a new method) so it aligns with the documented command.

@svartalf, can you

[2019-10-28 09:42] svartalf opened #193 "Multiline support for Toolkit Annotations"
This is a follow-up issue started at https://github.com/actions/toolkit/issues/186#issuecomment-546772099.

It is unclear from the recently added [Annotation docs](https://help.github.com/en/github/automating-your-workflow-with-github-actions/development-tools-for-github-actions#set-a-debug-message-debug) if `::debug`/`::warning`/`::error` messages support multiline text in the `{message}` placeho

[2019-10-28 10:30] xpol opened #194 "Extract tar.gz on windows-latest failed."
**Describe the bug**
The follow code:

[code]

Fails to run under windows-latest (other windows version not tested).

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Use extractTar in actions scripts.
2. Run the action on windows latest

**Expected behavior**

Show extractTar correctly on windows.

[2019-10-28 20:01] ivailop commented on #65
As the [GitHub Actions' docs state](https://help.github.com/en/github/automating-your-workflow-with-github-actions/managing-a-workflow-run):

Having the `check-suite-id` available as an environment variable could provide an appropriate for the purpose number.

Notice, that could currently be obtained in a very awkward way:
[code]

---
In addition, having the `check-suite-id` a 3rd party service co

[2019-10-29 00:05] garyttierney commented on #186
On this point:

Are problem matchers supposed to produce annotations at the moment (via some other mechanism)? I did try to port over one I had from vscode to no success,

[2019-10-29 14:58] joshmgross commented on #186
@garyttierney Yep! Problem matchers will produce annotations, you can check out some of the `actions/setup-` repositories to see how they have their problem matchers set up.

Example from `setup-go`: https://github.com/actions/setup-go/blob/master/.github/go.json

[Example Run with a Go syntax error](https://github.com/joshmgross/sample-problem-matchers/commit/8d3f39d239ab5fc59ec3aaae750b34533ef03

[2019-10-29 20:38] ezyang opened #195 "Example code should contain mock samples"
There appears to be mocking documentation in https://github.com/actions/toolkit/blob/master/docs/github-package.md but the example code that you can use to bootstrap an action should also contain this code, or at the very least, link to this documentation.

[2019-10-29 20:54] ezyang commented on #71
I think it's worse than that. Because node only ever loads a module once, once you load `action/github` for the first time, the particular environment variables you had used at that point of time are burned in. Which means if you try to write a second test with different environment variables, they will still be stuck with the first setting (unless jest is running your tests in multiple processes,

[2019-10-29 21:02] TrueBrain commented on #186
Sorry to hijack this issue a bit, but to follow up on your comment @joshmgross:

Setting `severity` in the ProblemMatcher seems to have no effect. Like:
`"problemMatcher": [ { "owner": "test", "severity": "warning", ...`
Is this not yet implemented, or I am doing it wrong? (I got the idea from https://code.visualstudio.com/docs/editor/tasks-appendix, under `interface ProblemMatcher`)

Currently I

[2019-10-29 21:05] TrueBrain commented on #56
The problem I am having with using Docker for this, that I first need to copy the ProblemMatcher file to the host system:

https://github.com/TrueBrain/actions-flake8/blob/initial_work/entrypoint.sh#L7

I am not sure if this is intended, but every other way resulted in errors. It seems `add-matcher` uses the host filesystem (which makes sense). But your comments here suggests it should work from w

[2019-10-30 10:50] koenpunt commented on #47
Any indication on when this will be available? Will this for example be available when GitHub Actions goes to GA?

[2019-10-30 11:04] janosrusiczki commented on #47
AFAIK it just went generally available today.

On Wed, Oct 30, 2019, 12:50 PM Koen Punt <notifications@github.com> wrote:

[2019-10-30 11:30] tvdeyen commented on #47
Great to hear. Any docs available?

[2019-10-30 12:01] egilsster commented on #47
It goes GA on Nov 13th, according to the email from GH: _Thanks for being a part of the GitHub Actions and GitHub Package Registry beta programs! We’re excited to announce that GitHub Actions and GitHub Package Registry will be moving to general availability on November 13._

[2019-10-30 17:10] marvinroger commented on #47
@tvdeyen GitHub never stated that caching will be available on November 13th. 😉

[2019-10-30 17:17] Borales commented on #47
https://github.community/t5/GitHub-Actions/Caching-files-between-GitHub-Action-executions/m-p/30974#M630

Here's was a _slight_ hint about getting it from https://github.community/t5/user/viewprofilepage/user-id/47958

[2019-10-30 18:27] joshmgross commented on #47
Hi all, we expect it to be fully released by GitHub Actions GA on Nov 13th. It's likely we'll release some preview version some time this week or next, and I'll update this issue when that occurs.

[2019-10-31 08:48] sjelfull commented on #47
https://github.com/actions/cache 🥳

It's limited to 200mb, though - so it might exclude most `node_modules` folders 😬

[2019-10-31 09:34] lmolema commented on #47
Maybe the 200mb limit is only there in the preview version? 😇

[2019-10-31 10:09] koenpunt commented on #47
The 200mb limit is not only an issue for projects with Npm/Yarn. Projects using CocoaPods can easily exceed the 200mb limit as well.

[2019-10-31 13:40] patoncrispy commented on #47
Yeah my node modules is 500mb so this is a no-go for me. :(

[2019-10-31 13:41] Borales commented on #47
https://github.com/actions/cache/blob/master/src/save.ts#L60

200mb for the archived size

[2019-10-31 13:45] byCedric commented on #47
There is an issue on the cache repo for the small file size limit, maybe it's better to mention it there? 😄  https://github.com/actions/cache/issues/6

[2019-10-31 14:58] joshmgross commented on #47
Hi all! `actions/cache` is now in preview! Go check it out at https://github.com/actions/cache and we would love any feedback.

Re: cache size limits, 200MB is the compressed size so at least for `node_modules` you should be okay for a lot of use cases. That being said, we are working increasing that limit fairly soon.
I'll reply to https://github.com/actions/cache/issues/6 with more info.

Thanks

[2019-10-31 14:58] #47 closed

[2019-10-31 15:32] ad-m opened #197 "Caching build of Docker actions"
**Describe the enhancement**

In my opinion, in the case of actions, in many cases it is worthwhile to provide the cache for actions. At least for shares whose issues are published in the marketplace, it is possible to pre-build them by GitHub Actions and store as cache.

Currently, Docker actions are built multiple times as the first step of all builds, which is extremely inefficient for complex

[2019-10-31 20:20] RyanCavanaugh opened #199 "TypeScript errors in `github/lib/github.d.ts`"
**Describe the bug**

The shipped `github.d.ts` file contains errors. The originating code is here: https://github.com/actions/toolkit/blob/master/packages/github/src/github.ts

**To Reproduce**
Steps to reproduce the behavior:

1. `npm init -y`
2. `tsc --init`
3. Add `a.ts`:
[code]
4. `tsc`

Result:
[code]

**Expected behavior**

There shouldn't be errors

**Screenshots**

**Desktop (please compl

[2019-10-31 20:30] RyanCavanaugh commented on #199
Digging in a bit deeper while looking into a fix. The `.d.ts` checked in to this repo for `@octokit/graphql` describes the `2.0.1` shape (a top-level item named `defaults`); this shape no longer exists at latest (`4.3.0`). But `2.0.1` doesn't provide a `.d.ts` file, so installing that doesn't really help.

[2019-10-31 20:36] ad-m commented on #197
@joshmgross commented [5 minutes ago](https://github.com/actions/cache/issues/9#issuecomment-548555841):

[2019-10-31 21:41] clareliguori commented on #164
+1 As an example, it would be nice to pass a password over stdin for docker, i.e. `docker login -u username --password-stdin`

[2019-11-01 22:15] ad-m commented on #197
Azure has recently released Teleport for images from Azure Container Registry ( https://stevelasker.blog/2019/10/29/azure-container-registry-teleportation/ ). The concept based on the use of SMB, which allows you to read only the necessary parts of layers without full transfer is very interesting, because it can give a very quick start in this use case. However, I suppose the Azure permissions mod

[2019-11-06 14:33] jimhester opened #202 "Linking annotations back to the log lines"
When you use a problem matcher to create annotations and don't supply a file or line, it would be useful if it would link to the line in the log where the annotation occurred, rather than just linking to the commit. e.g.

![Screen Shot 2019-11-06 at 9 29 59 AM](https://user-images.githubusercontent.com/205275/68306719-0ea52180-0078-11ea-8c1a-cb58dc6b3d30.png)

This screenshot is from (https://gith

[2019-11-06 19:23] JaKXz commented on #146
This action uses `exit 78` in its [entrypoint](https://github.com/veggiemonk/skip-commit/issues/2#issuecomment-550460284), but, how would one accomplish something like `::set-status neutral` to stop the following actions? Is there a `::set-status pass` or skip or something?

[2019-11-06 20:52] joshmgross commented on #186
I asked @thboop about this, no currently we don't support a severity for problem matchers. We have a similar syntax to VS Code, but it's not a full implementation. Feel free to file an issue, I think that would be a great feature to add 😄

[2019-11-06 21:05] thboop commented on #186
We do support group numbers for severity, which expects a group number containing either 'warning' or 'error' case-insensitive. However, you can't pass in 'error' to the problem matcher directly.

If you would like that feature, please create another issue with an enhancement request!

[2019-11-06 21:24] #56 closed

[2019-11-07 18:57] ericsciple opened #203 "Document `fromPath` matcher property"
The `fromPath` property for problem matchers was recently fixed in the runner.

After the new runner rolls out, the property needs to be added to the matcher docs. Wait until the first post-ga runner rolls out.

[2019-11-07 22:07] TrueBrain opened #204 "Support "severity" in ProblemMatcher (next to ProblemPattern)"
Currently the Problem Matcher only support "severity" as group in the ProblemPattern (see https://github.com/actions/toolkit/issues/186#issuecomment-550499922); VSCode also supports this as fixed field in the ProblemMatcher (see https://code.visualstudio.com/docs/editor/tasks-appendix).

It would be a nice addition to see the same functionality in GitHub Actions; this would mean Problem Matcher wo

[2019-11-07 22:22] TrueBrain opened #205 ""add-matcher" doesn't work from within a Docker"
**Describe the bug**
https://github.com/actions/toolkit/issues/56#issuecomment-536753187 suggests that "add-matcher" works from within a Docker container. I couldn't find a way to get this to work. "add-matcher" always uses the host file-system to lookup the file, and can't read a file from the Docker container (that I could find).

**To Reproduce**
See https://github.com/TrueBrain/actions-flake8/

[2019-11-07 22:22] TrueBrain opened #305 ""add-matcher" doesn't work from within a Docker container"
**Describe the bug**
https://github.com/actions/toolkit/issues/56#issuecomment-536753187 suggests that "add-matcher" works from within a Docker container. I couldn't find a way to get this to work. "add-matcher" always uses the host file-system to lookup the file, and can't read a file from the Docker container (that I could find).

**To Reproduce**
See https://github.com/TrueBrain/actions-flake8/

[2019-11-08 08:49] hvr opened #208 "Trailing comma in `::set-output``"
I'm not sure if this is relevant, but I noticed that the log shows the meta-command

[code]

being emitted, whereas based on Github actions documentation I would have expected

[code]

Sorry for the noise if this is in fact harmless.

[2019-11-08 08:51] chemitaxis commented on #47
@joshmgross hi! i'm having issues with yarn workspaces... some packages are not found with action-cache, like babel when I need to compile my code. Thanks!

[2019-11-08 15:23] joshmgross commented on #47
@chemitaxis Hey! Can you check out the updated example here: https://github.com/actions/cache/pull/70 and see if that helps?

Please file an issue if you still need help

[2019-11-08 16:36] Bnaya commented on #47
With workspaces, there's not only node_modules in the top level directory, but also in packages dir that has cli tools (as babel-cli `babel`) or a none hoisted dep.
If you cache only top level node_modules,
And then run yarn install, unfortunately yarn won't re-add the node_nodules on packages directories,
But he will tell you that there is nothing to install

Maybe this is your issue

[2019-11-08 18:03] chemitaxis commented on #47
Thanks @Bnaya and @joshmgross , I will check everything on Monday and if fails, I will create an issue with all the configuration. We are migrating from CircleCI to Github Actions and we have found some “problems”, but we think we have more options for a monorepo with GH actions.

[2019-11-09 11:17] chemitaxis commented on #47
@Bnaya could I add multiples cache path in different actions for each workspace and not install dependencies if all actions result output are true? Thanks!

[2019-11-09 14:09] bahmutov opened #209 "How to call npm ["ci"]?"
I am trying to run `exec.exec` that installs NPM modules `npm ci` command. When I do

[code]

then the install goes through

If I try to use command + arguments form

[code]
then I get an error:
[code]

[2019-11-11 15:40] bryanmacfarlane commented on #209
You need to call io.which and you also need to use await on the exec call.

See tests for all the variations:
https://github.com/actions/toolkit/blob/master/packages/exec/__tests__/exec.test.ts#L77

[2019-11-11 15:42] bryanmacfarlane commented on #208
Yeah, this is as designed as the , is just an empty property.  Both work.

[2019-11-11 15:45] bryanmacfarlane commented on #202
This should go to the community site since it's actually an issue with the service and not the toolkit.  The runner sends up with a log link and line number but it's not getting represented correctly.

[2019-11-11 15:45] bryanmacfarlane commented on #202
Feel free to shoot me a note with with the community post and I'll pass it along to the right folks.

[2019-11-11 15:50] bryanmacfarlane commented on #188
I think Josh answered.

[2019-11-11 15:50] #188 closed

[2019-11-11 15:52] bryanmacfarlane commented on #170
Is the set of variables known?  If you use core.setVariable it will export those variables for future steps (which run out of proc).  I admit that might be a bit fragile.

[2019-11-11 16:01] JamesIves commented on #188
Yes, sorry I forgot to reply. @joshmgross solution worked for me.

[2019-11-11 16:04] bryanmacfarlane commented on #188
Thanks for confirming.

[2019-11-12 01:25] jgccchgcxss opened #210 "Reproduce"
**Describe the bug**
A clear and concise description of what the bug is.

**To **
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following inform

[2019-11-12 08:22] DanTup commented on #47
@joshmgross is it possible to use the cache from within an action built using the toolkit? (for ex. if you're building a reusable action like setup-dart, it would be nice for it to be able to cache it's SDK downloads without the user having to fill their workflow file with caching info for each action).

[2019-11-12 09:45] Anupheaus commented on #82
Just as an FYI, a confusing error message got me stuck for a good 20 minutes trying to figure out what was going on and diagnosing various things.  I got this in my action logs:

[code]

This implies that the `/usr/bin/unzip` executable could not be found but I found the error was actually that the destination path I provided did not exist.  Just a suggestion but it might be an idea to add to this

[2019-11-12 13:41] jimhester commented on #202
Ok, thanks for replying, I posted on community at https://github.community/t5/GitHub-Actions/Linking-annotations-back-to-the-log-lines/m-p/37875#M3110

[2019-11-12 13:41] #202 closed

[2019-11-12 13:48] bryanmacfarlane commented on #82
@Anupheaus - can you log a separate issue for your enhancement suggestion?  I would probably just add a warning.  If you saw the warning ahead of the final not helpful error from unzip, then it would have saved you time.

[2019-11-12 13:55] bryanmacfarlane commented on #202
Sent.  Thank you.

[2019-11-12 15:36] ericsciple commented on #210
Closing. It looks like this issue was opened by mistake. I dont see any information here beyond the content of the issue-template.

[2019-11-12 15:36] #210 closed

[2019-11-12 15:37] ericsciple commented on #208
the trailing comma is kind of silly, we should probably remove it

[2019-11-12 15:43] ericsciple commented on #204
@TrueBrain severity is supported. The docs were merged recently: https://github.com/actions/toolkit/blob/master/docs/problem-matchers.md

[2019-11-12 15:47] ericsciple commented on #204
Although the translation problem still exists. Only the string \"warning\" and \"error\" are supported. Interested in ideas.

[2019-11-12 18:12] joshmgross commented on #47
@chemitaxis Yes you can do multiple cache actions for each path and `&&` the outputs

@DanTup Not yet, no. See https://github.com/actions/cache/issues/55 for tracking that, and if you could provide your use case there that would be great.

[2019-11-12 19:04] TrueBrain commented on #204
Exactly why I created this ticket ;)

I do want to put emphasis on the fact that this problem is already solved by VSCode. And given ProblemMatchers strongly resemble the one used by VSCode, solving them both in the same way would be greatly appreciated :)

This I tried to make clear in my original ticket: there is a difference between ProblemMatcher and ProblemPattern. VSCode implements both, Git

[2019-11-12 19:08] ericsciple commented on #209
@bahmutov check if npm is in your PATH.

Try this script locally (npm and node are both in my PATH):

[code]

[2019-11-12 19:16] ericsciple commented on #204
@TrueBrain sorry i am not seeing it in their docs. Do you have a link to the docs how vscode solves this?

[2019-11-12 19:29] ericsciple commented on #204
I was thinking something like two new properties `"errorPattern": "^[EF]"` and `"warningPattern": "^W"`

[2019-11-12 19:31] ericsciple commented on #204
nevermind i think i see how they solved it. They have it higher up in the structure, above the patterns...

[2019-11-12 19:33] ericsciple commented on #204
Basically sibling to owner. In that case i think you would need to define the matcher twice, once for errors. And then again as a separate owner, for warnings.

[2019-11-12 19:58] Anupheaus opened #213 "Improve error message when using extractZip/extract7z/extractTar with a non-existing destination"
**Describe the enhancement**
When extracting to a path that does not yet exist, the error message given, when using the methods in the title, provides a `ENOENT` error code and specifically identifies the location of the tool as the source of the issue.

Originally mentioned in issue #82

**Code Snippet**
Unfortunately this is a modification of the bundled output, but you get the idea:
[code]

[2019-11-12 20:49] chemitaxis commented on #47
@joshmgross done, works like a charm... I will try to do a PR with this feature

[2019-11-12 21:12] friederbluemle opened #214 "The recommendation to "move" tags"
This is regarding the official [Versioning documentation](https://github.com/actions/toolkit/blob/master/docs/action-versioning.md) for authoring custom GitHub Actions.

I really had to read it several times to make sure that an "official" GitHub controlled repository is **recommending to "move" tags between commits**. 😨

Please, if you haven't already, read the section [**On Re-tagging**](https:/

[2019-11-12 22:15] bryanmacfarlane commented on #47
Should we be having these discussions in the cache repo?  That's where other folks will look for cache discussions.  I think we should freeze this thread.

[2019-11-12 22:38] joshmgross commented on #47
Locking thread, please file issues at https://github.com/actions/cache/issues for further discussions

[2019-11-13 02:24] bahmutov commented on #209
perfect - using `io.which` and then `exec.exec` works

[2019-11-13 04:29] bahmutov opened #216 "Can exec.exec run process in the background?"
I am trying to test a locally running server, which means the server should be running in the background. I can run a child process in detached mode using https://github.com/sindresorhus/execa but had no luck doing it on Windows unfortunately - always getting `ENOENT`.

[code]

Everywhere else I am using `exec.exec` to run child processes - maybe there is a way to use `exec.exec` to run a process

[2019-11-13 04:52] ericsciple commented on #209
@bahmutov thanks for confirmation. Did you run into the issue on Linux or Windows?

On Windows I'm consistently seeing the ENOENT failure when using both `exec('npm --version')` and `exec('npm', ['--version'])`

But not on Linux.

[2019-11-13 04:56] bahmutov commented on #209
The problem right now is on Windows, Linux and Darwin seem pretty happy

Sent from my iPhone

[2019-11-13 12:47] bryanmacfarlane commented on #216
Do you want to run other stuff within the scope of your step / action while this runs?  Or do you want the step to run something in the background and continue onto other steps?  (the latter is a feature we've discussed that has much broader impact beyond the toolkit).  The former may be possible with holding onto the Promise returned and running other code (since I/O isn't blocking in node) and t

[2019-11-13 12:57] bryanmacfarlane commented on #214
Yes, this has had many discussions and even the actions/javascript-action repo has the walk through creating a v1 branch instead of moving a tag.

When we did that, there were other objections that it led to less opportunity to validate and "release" the action with an explicit action.  Merging into the release branch led to it immediately being used by customers.  As opposed to typically merging

[2019-11-13 13:19] bryanmacfarlane commented on #73
The new javascript action walkthrough makes it clear.

[2019-11-13 13:19] #73 closed

[2019-11-13 13:22] bryanmacfarlane commented on #65
As @chrispat noted, service doesn't have the concept.

[2019-11-13 14:21] bahmutov commented on #216
Hi @bryanmacfarlane for me, it is only a background process during the current step. Imagine it is a testing action - running end-to-end Cypress tests against a locally spawned server. Something like this:

[code]

it starts the `npm start`, then runs tests etc. On Linux and Mac when I use `execa` I can simply unref the child process to allow my action to exit, and GitHub cleans up orphan processe

[2019-11-13 14:30] bryanmacfarlane commented on #216
Thanks for clarifying.

For the scenario of spinning up a server while testing, I would recommend the [services](https://help.github.com/en/actions/automating-your-workflow-with-github-actions/workflow-syntax-for-github-actions#jobsjob_idservices) yaml feature which was implemented for this scenario.  It spins up a `side car` container for the job.  Then you can use a trivial `run:` step to run th

[2019-11-13 15:34] ericsciple commented on #209
@bahmutov thanks for confirming. I'll go ahead and close this issue again (`io.which` is the workaround). I'll open a separate issue - cmd/bat file on Windows doesnt resolve from PATH

[2019-11-13 15:34] #209 closed

[2019-11-13 18:43] ivailop commented on #65
It does not have to be strictly a "build number" concept. All that needs to be provided is a `unique-workflow-number`:
* should be _loosely_ `incremental` (not GUID) so that a later workflow would have a greater number (doesn't have be strict, i.e. 1, 2, 3)
* could be per-repo unique (I personally don't think there is any inter-repo relation regarding that)

As I stated above, simply providing the

[2019-11-13 19:14] ericsciple opened #218 "exec doesn't resolve Windows .cmd/.bat files from the PATH"
**Describe the bug**

`exec.exec('npm --version')` does not work on Windows.

**To Reproduce**

[code]

[2019-11-13 19:15] ericsciple commented on #209
https://github.com/actions/toolkit/issues/218

[2019-11-14 02:05] ericsciple commented on #170
it sounds like you might want to create a javascript action that does the following:
- run `exec.exec('bash some-wrapper-script.sh')`
- in the wrapper script:
  - dot source the script supplied by the customer
  - output some delimiter so you know the customer output has ended
  - output all env vars
- capture stdout from the above invocation; use everything after the delimiter to construct a dict

[2019-11-14 02:17] ericsciple commented on #216
In this case I would expect the action to be self contained.

@bahmutov the reason the process is hanging is because you set `stdio: 'inherit'`. If you set it to `stdio: 'ignore'` then you will not need the process.exit() hack. Note, nodejs (under resource scarce conditions iirc) buffers stdout. So when you call process.exit you can lose stdout from the process.

Would setting `stdio: 'ignore'` wo

[2019-11-14 03:45] 1138-4EB commented on #214
IMHO, the point is that **refs** (tags or branches) **in a SCM system are not the natural way to distribute the artifacts** of a project:

- Even though many (most?) GitHub Actions are expected to be written in JavaScript, Actions are not JS libraries.
  - Users of the Actions do not need access to readable or modular JS sources.
  - Ideally, Action artifacts can be reduced to three files only (`R

[2019-11-14 05:18] dmadisetti opened #219 "`with` context with field names containing '-' create POSIX-uncompliant variables"
**Describe the bug**
Environmental variables provided to a docker action through `with` that contain a '-' are not easily accessible, and are moreover not POSIX-compliant

**To Reproduce**
Consider
[code]

We note that the docker command invoked is something like

/usr/bin/docker run --name e4e3a71d2cda2576d484cb8eef9019d724e5d_93f69a --label 2e4e3a --workdir /github/workspace --rm **-e INPUT_WORK

[2019-11-14 10:51] bryanmacfarlane commented on #214
👋 @1138-4EB Thanks for your feedback

I think we should focus this issue on the tag.  However, I can at least shed some light on the motivations for some of the decisions.

Yes, there are plans and discussions going on to support GPR as a distribution mechanism.  We discussed releases as an option but we're leaning toward GPR.

When we have GPR, it will support full semver.  However, we should not

[2019-11-14 11:29] 1138-4EB commented on #214
@bryanmacfarlane, thanks a lot for the insight!

I was not suggesting to stop using major version tags; I just suggested that developers don't push them manually, but an action is used instead. Shall I open a PR in https://github.com/actions/javascript-action based on https://github.com/1138-4EB/actions/commit/dcb31590a76ea6b466ed8c995cd5e98c3652d86a to discuss it?

This makes lots of sense. Unfor

[2019-11-14 13:35] bryanmacfarlane commented on #214
The nice part about the @friederbluemle suggestion and what's done in the javascript-action template is the manual step is removed (move tag).  To release you simply merge into the v1 branch.

I was trying it out on the javascript-action first before updating guidance so I'm considering just updating the guidance.

We can take packing, actions and other discussions in other issues.

@ericsciple I

[2019-11-14 13:35] bryanmacfarlane commented on #214
I will work on this today.

[2019-11-14 17:06] ethomson commented on #214
Tags remain useful here, since tags align with GitHub releases, and - most importantly - marketplace publishing is controlled by tags and releases.

Indeed moving tags is not a good practice in a source repository, but that's not what this is, we're using a repository here as a release mechanism.  And a poor practice for source trees is not necessarily a poor practice for a release mechanism.

Now

[2019-11-14 19:19] danechitoaie commented on #193
+1 At least some kind of initial feedback. Is it possible or not? And then maybe follow up with updating the docs.

[2019-11-14 20:04] warrenbuckley commented on #60
Any update/progress on this at all?

[2019-11-15 00:24] friederbluemle commented on #214
This is a great discussion. Thanks a lot for your input everyone!

It's interesting to see that actions/javascript-action is _already_ using the branch based approach (I did not know this :)). Also, thanks @bryanmacfarlane for providing more details on the thinking behind the recommendation. The reasons given (making releasing a new version more "explicit" step) are consistent with what I assumed

[2019-11-15 00:59] 1138-4EB commented on #214
This is also possible without putting sources an artifacts in the same branch.

---

The procedure which is recommended in the docs does not only require to temporaly disable it, but it also requires to remove it and `npm install` or `npm ci`. Otherwise all the sources in `node_modules` are added, even if some are not required at all. By the same token, when some developer clones a commit which ha

[2019-11-15 02:38] friederbluemle commented on #214
Thanks for the additional clarification @1138-4EB 👍

Do you think it makes sense to create a separate issue regarding the release/packaging method for artifacts, or do you want to keep everything together in this thread (and perhaps reword the issue title)?

[2019-11-15 02:41] 1138-4EB commented on #214
I think it is worth a separate issue. But I don't know if it should fit in this repo or in https://github.com/actions/javascript-action. That's why I asked about creating a PR to discuss it.

[2019-11-15 06:50] KOLANICH opened #222 "Rewrite into Haxe"
**Describe the enhancement**
Haxe is a language with ECMAScript-like syntax transpiled into multiple languages, such as JS, python and java. Rewriting the toolkit in Haxe may help to port it to python.

[2019-11-16 14:36] bahmutov commented on #65
We would love to have a unique id generated for each action run - and shared across jobs and parallel steps. In our case, we run end-to-end Cypress tests in https://github.com/cypress-io/github-action where multiple machines can split the test load - because API can "detect" that all machines are running for the same action.

[code]

Currently we use commit SHA as a workflow id - but this breaks w

[2019-11-17 18:54] xt0rted opened #224 "Problem matcher annotations are created on the wrong file"
I'm trying to replace one of my actions with a problem matcher since that fits in to the workflow better, but all of the annotations are being created on the workflow file. The step that's creating them (`npm test`) is being run with `working-directory: src/website` which causes the log output to be rooted in the sub folder.

This is the default output from stylelint:

[code]

I saw in #198 that t

[2019-11-20 11:51] Skycoder42 commented on #199
Is there a workaround for this issue until it was fixed?

[2019-11-20 20:19] johanneslumpe commented on #199
@Skycoder42 You can put a `d.ts` file into a local `@types` folder which contains this snippet:

[code]

It seems that these are the only used exports and while this does basically disable type-checking for that part of the code, it will allow your action to properly compile.

[2019-11-20 23:53] danechitoaie opened #227 "Using toolcache on hosted pools"
I have an action with the code bellow and each time I run the action it goes on the ` if (!toolDir) {` branch since the `toolCache.find` never returns anything.
So looks like my file is never cached.

[code]

[2019-11-20 23:59] danechitoaie commented on #88
That's very disappointing to hear.  We were planning to use GitHub actions in favor of Jenkins but since migrating the custom Jenkins plugins to GitHub actions that we were using will mean we'll have to make them public this is a dealbreaker so we'll have to stay on Jenkins from what it seems.

[2019-11-21 04:59] UziTech commented on #213
#223 fixes this error by creating the directory before unzipping

[2019-11-21 13:39] jclem commented on #222
Hi @KOLANICH, thank you for the suggestion! Right now, the toolkit is written in something that compiles to JavaScript, because that's guaranteed to be present in every environment supported by Actions runners. While I'm a fan of the Haxe project (I've tinkered with some game development stuff in it myself 😄 ), a rewrite isn't something we have plans for, at the moment.

I'm going to close this is

[2019-11-21 13:39] #222 closed

[2019-11-21 18:32] KOLANICH commented on #222
The most of benefit is to staying away of node.js and npm as much as possible because npm has extremily bad reputation as plagued with malware. I don't know why pypi isn't. Anyway, I try to stay away of package registries as much as possible.

[2019-11-21 19:44] thboop commented on #199
@hross FYI,

[2019-11-22 18:47] dnorth98 commented on #205
I had *exactly* the same problem when I was putting together an action for Rubocop (https://github.com/rewindio/github-action-rubocop).  I ended up having to copy the matcher json to the host in my script:

[code]

It works but feels a bit hacky.  Would sure be nice if the matcher could be read inside the container.

[2019-11-22 23:29] bbugh commented on #205
@dnorth98 thank you so much for this tip. I was banging my head against the wall trying every configuration I could think of to get it to find the file. It would be better not to hack it, and I'm happy to just have the action working for now.

[2019-11-24 22:11] SaschaMann opened #229 "exec: specify shell to run the command in"
**Describe the enhancement**
Add an [option](https://github.com/actions/toolkit/blob/d9347d4ab99fd507c0b9104b2cf79fb44fcc827d/packages/exec/src/interfaces.ts#L5) to `exec.exec` to invoke a specific shell, e.g. `/bin/bash`, when running the command.
Alternatively, document that `exec.exec` does not invoke a shell by default.

**Code Snippet**
Currently:

[code]

Better:

[code]

**Additional inform

[2019-11-25 14:49] thboop commented on #227
Hey @danechitoaie ,

Are you using a self hosted runner? The hosted runners reset the machines to a known image in between jobs, you won't be able to cache things in the tool cache on them. The tool cache is intended for self hosted runners, or in the case where you have to switch back and forth between versions of a tool multiple times in one job.

If you are using a self hosted runner, you don't

[2019-11-25 14:52] danechitoaie commented on #227
Hi. I was using the hosted runner. I was putting something in the temp folder just temporarily (as it's downloaded from Azure BlobStorage) before using `toolCache.cacheDir`.

Ok, so it doesn't work with hosted workers. Clear now. Maybe documentation can be updated to reflect this.

Thanks.

[2019-11-25 17:50] bryanmacfarlane commented on #214
Full semver will come with the using GPR to release actions.  As @ethomson pointed out, the tag based approach is what we have now and needed by the marketplace.  I will update javascript-action and create a PR to not create the v1 branch as it won't work with the market place.  We also need to update the versioning doc to note the the releases/v1 branch is not needed until we need to break compat

[2019-11-25 17:50] #214 closed

[2019-11-25 21:24] danechitoaie opened #230 "Is there any way to disable "Problem matchers" that are magically setup on an agent?"
Looking at the logs I see these messages. Is there any way to disable these "Problem matchers" since I already output the errors in the format that GitHub actions expects and now I have duplicated error messages. Once from these builtin "Problem matchers" and once from my eslint plugins.

[code]

[2019-11-25 22:10] xt0rted commented on #230
Try writing out `::remove-matcher owner=eslint-compact::` (from the [docs](https://github.com/actions/toolkit/blob/master/docs/commands.md#problem-matchers)). If you're adding your own problem matchers then you can use the same names as these and the last ones registered will take priority.

[2019-11-25 23:29] danechitoaie commented on #230
Perfect! Thank you!

[2019-11-25 23:29] #230 closed

[2019-11-26 18:32] hross commented on #199
The other option is to turn off noImplicitAny

[2019-11-26 19:28] johanneslumpe commented on #199
@hross that should probably be the last thing to try to fix something :)

[2019-11-26 21:25] ppalaga opened #231 "`run` command's arguments split before a period on Windows"
I hope this is the right place to report this issue.

Having a `maven.yml` like the following:

[code]

results in the following Maven error

[code]

which means that GitHub Actions parse the arguments of `mvnw` command in a wrong way. Apparently, period `.` is interpreted as a delimiter and thus 6 args

1 clean
2 verify
3 -B
4 -ntp
5 -Dinvoker
6 .streamLogs=true

 are passed instead of 5:

1 clea

[2019-11-27 04:46] 1138-4EB commented on #218
@ericsciple, is there any scheduled release which includes the fix to this issue?

[2019-11-27 05:32] 1138-4EB opened #232 "Set custom default shell"
Current usage of action [setup-msys2](https://github.com/numworks/setup-msys2/) requires commands to be preprended with `msys2do`, which is a cmd file (`d:\a\_tmp\msys\msys2do.cmd`). For example:

[code]

On the one hand, it would be more *natural* if the shell was selectable as the built-in ones (`cmd`, `powershell`, `bash`), as it would allow a more consistent syntax:

[code]

On the other hand,

[2019-11-27 07:19] rowi1de opened #233 "Using GitHub with GITHUB_TOKEN without Prefix leaks token"
[code]
Full source https://github.com/rowi1de/auto-assign-review-teams/blob/master/src/main.ts

will leak the token on error:

[code]

see https://github.com/actions/typescript-action/issues/40

[2019-11-27 10:13] ethomson commented on #233
I'm not sure what you mean by "without prefix"?  Why do you think that's the GITHUB_TOKEN?  That looks like an error message from the GitHub API that's including the issue's node_id.

eg:  https://github.com/octokit/rest.js/issues/531

[2019-11-27 10:58] rowi1de commented on #233
@ethomson I mean I'm just passing
` {{secrets.GITHUB_TOKEN}}` into `GitHub()`

If I want to use the [GITHUB_TOKEN for REST Calls directly](https://help.github.com/en/actions/automating-your-workflow-with-github-actions/authenticating-with-the-github_token), I would need to add it as the header ` --header 'authorization: Bearer ${{ secrets.GITHUB_TOKEN }}' \`
Will this be implicitly done by the use

[2019-11-28 06:58] JJ commented on #194
You are trying to access unit d: Is that automatically created or is it a part of your action? The error says it's not finding it.

[2019-12-02 19:00] crazy-max opened #234 "Workflow to release a GitHub Action"
Hi guys,

I have [created a workflow](https://gist.github.com/crazy-max/f347632c53c81271906697bdb40e8074) to automate the creation of branches and tags when you release your GitHub Action according to [your recommendations](https://github.com/actions/toolkit/blob/master/docs/action-versioning.md).

Maybe I could create a PR to include my gist in your action versioning page if you are interested?

[2019-12-02 22:46] ericsciple commented on #218
reopened since this isnt released yet

[2019-12-03 00:21] ericsciple commented on #231
@ppalaga this appears to be a behavior of pwsh/powershell which is the default shell used on windows

another solution might be to try:
[code]

[2019-12-03 00:21] ericsciple commented on #231
@bryanmacfarlane is https://github.community/t5/GitHub-Actions/bd-p/actions a better place for non-toolkit related question? should we update the issue template?

[2019-12-03 00:26] 1138-4EB commented on #229
Ref #232

[2019-12-03 01:18] 1138-4EB commented on #232
The same approach works on `ubuntu-latest` too, but it seems that the runner on GNU/Linux is written in Rust instead of Python:

https://github.com/1138-4EB/actions/blob/fef6d105b756a6ca057adf1721b05793555a5e9f/.github/workflows/push.yml#L35-L39

[2019-12-03 07:47] ppalaga commented on #231
@ericsciple thanks for the explanation! If powershell is really the the default shell and its handling of period is well known and documented, I think the described behavior is expected and this issue can be closed.

[2019-12-03 07:47] #231 closed

[2019-12-03 12:42] ericsciple commented on #218
@1138-4EB i'll find out today

[2019-12-04 20:16] ajcann opened #240 "Action showing up several times in "checks""
Not sure if this is the right place. This may relate to https://github.com/actions/stale/issues/13

In our PRs under the scenarios -
[code]
The checks are showing up multiple times and preventing a green due to past failed checks.

<img width="720" alt="Screen Shot 2019-12-03 at 6 41 10 PM" src="https://user-images.githubusercontent.com/10137494/70177786-e406b280-168f-11ea-9657-8af74557a4c4.png">

[2019-12-04 20:45] lukka opened #241 "javascript-action.md broken http link"
The docs mentions in multiple places to follow the instructions to this broken link:

https://github.com/actions/toolkit/blob/master/docs/javascript-action.md

[2019-12-04 20:55] lukka opened #242 "building this repo on macosx fails"
**Describe the bug**
Cannot build this repo on macosx.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone the repo master branch (1c12ced7ba4b5f2d21da0ddfea83b4885505503f)
2. run 'npm -g install lerna'
2. run 'npm run bootstrap'

**Expected behavior**
Successful execution, returning exit code 0

**Screenshots**
Execution fails aborting:

[code]

**Desktop (please complete the following in

[2019-12-05 15:22] ajcann commented on #240
Created a public example repo here: https://github.com/ajcann/multiple-checks-issue/pull/2

[2019-12-06 15:01] alexkappa opened #243 "Tool not found in path"
Hi,

I'm not sure if this is a bug or a mistake on my part but I've been scratching my head over this for a while and can't figure out what is wrong...

[code]

When running the tests it seems that the tool is not found in the PATH, however the debug logs clearly show the PATH is prepended  correctly.

Here's the console output.

[code]

Any help is greatly appreciated!

[2019-12-06 15:59] joakimhellum opened #244 "Export evaluateVersions and isExplicitVersion functions from @actions/tool-cache"
**Describe the enhancement**
Export `evaluateVersions` and `isExplicitVersion` functions from `@actions/tool-cache` by:
- renaming `_evaluateVersions` to `evaluateVersions`
- renaming `_isExplicitVersion` to `isExplicitVersion`
- exporting them

**Code Snippet**
https://github.com/actions/setup-node/blob/9bb7038a073441f1f0c3c33070fc1601a2638b1e/src/installer.ts#L118

**Additional information**
The

[2019-12-06 21:24] ericsciple commented on #218
@eine sorry for the delay. Probably will be released sometime this weekend or on Monday.

[2019-12-06 21:30] ericsciple commented on #242
@lukka try `git clean -ffdx && npm ci && npm run bootstrap && npm run build`

[2019-12-06 21:40] ericsciple commented on #224
@chrispat fyi. pretty interesting feedback. i like this idea

[2019-12-07 02:43] ericsciple commented on #243
@alexkappa is it a .cmd or .bat file. If so refer to issue https://github.com/actions/toolkit/issues/218 for a workaround

[2019-12-07 02:45] eyal0 commented on #222
@jclem So, if I write an action in Python, users of the action will need to install python to use it?

How do actions run on a caller's workflow? Does all the code get copied into the caller's VM and it runs there? Or is it installed or compiled somehow?

[2019-12-07 02:46] ericsciple commented on #218
Workaround is specify the full path. For example:
[code]

[2019-12-07 03:20] chrispat commented on #224
We have a work item to fix the problem where annotations with no valid path will not be attributed to the workflow file.  I think once that is done you won’t have the problem that you currently see where files that can’t be found are improperly attributed.

[2019-12-07 03:35] ericsciple commented on #224
@chrispat today unrooted paths are rooted against the github.workspace. The feedback is to root against the `working-directory` input instead

[2019-12-07 03:38] chrispat commented on #224
Ah, I missed that.

That make sense.

[2019-12-07 04:21] tyankatsu0105 commented on #147
@thboop
Does this repo's issue help for generating TypeScript's definition?
👀https://github.com/octokit/webhooks.js/issues/87

[2019-12-08 03:01] ericsciple commented on #194
discussing a fix on pr https://github.com/actions/toolkit/pull/165

[2019-12-08 18:11] alexkappa commented on #243
No I'm running it on macOS. I managed to get it working with [this code](https://github.com/aktions/codeclimate-test-reporter/blob/24c5491864d13038aa7d8c5e7de7b9149ace4112/codeclimate.js). It must have been an error on my part.

I do still have some issues with caching on mac but I'll continue debugging and file a separate issue if it persists.

Many thanks!

[2019-12-08 18:11] #243 closed

[2019-12-08 22:19] bryanmacfarlane commented on #241
Can you provide some urls that have those links?  I searched here and in the docs repo and couldn't find that url

[2019-12-08 22:20] bryanmacfarlane commented on #242
Let us know if that ☝️ didn't help

[2019-12-08 22:22] bryanmacfarlane commented on #240
Create an issue on https://github.community/

Appears to be an issue with the service and not this action toolkit

[2019-12-08 22:22] #240 closed

[2019-12-08 22:38] bryanmacfarlane commented on #234
versioning is update.  the main problem here is you don't always want to create a release branch until you're going to create a new major version with master being the current latest version (see doc updates).  That along with the infrequency of creating a major version, makes it a very infrequent trivial command line.  It seems like the authors to decision to create another branch instead of some

[2019-12-08 23:09] bryanmacfarlane commented on #227
note that toolcache and the cache dir is all about caching downloaded tools (node, go, etc.) by platform, version.  So it does work on hosted - it's just that you may not get the perf win on hosted.  How are you using the tool cache and what are you downloading from blob storage?  Also, are you depending on it or is a pure cache and perf win?

[2019-12-08 23:14] bryanmacfarlane commented on #219
Can you create an issue on github community? I think the suggestion would be good for the runner but it doesn't seem to be a toolkit issue.

[2019-12-08 23:14] #219 closed

[2019-12-09 00:31] danechitoaie commented on #227
I have a custom GitHub action that's a wrapper on top of a Java fatjar CLI app. Since GitHub does not support private GitHub Actions I opted in making my action public but the action downloads the jar from Azure Blob Storage  and runs in instead of having it bundled with the action. So I was hoping I would be able to cache the jar for a bit and not download it all the time for all the builds from

[2019-12-09 13:42] chrispat commented on #224
Any concern that we may not know the working directory in the case of many actions?  For all JavaScript actions the working directory from the perspective of the runner will be the same as github.workspace, however, in the code the action author could have changed that via process.chdir() and the problem matcher code would not know.

[2019-12-09 13:46] umarcor opened #247 "GITHUB_TOKEN does not trigger GitHub Pages updates"
I'm trying to use the default GITHUB_TOKEN to push updated docs to branch `gh-pages`. While the branch is properly updated, GitHub services seem not to detect those pushes as valid. As a result, even if sources are properly published, the web site is never updated.

For example:

- https://github.com/umarcor/cosim/tree/gh-pages
- https://github.com/umarcor/cosim/deployments

**To Reproduce**

[cod

[2019-12-09 13:52] softprops commented on #247
I don't think this relates to the toolkit sdk so much as it does the provisioned runtime environment in GitHub actions. The following gh pages action links to working alternatives as well as a tracking issue for the token permission https://github.com/peaceiris/actions-gh-pages/blob/master/README.md#%EF%B8%8F-github_token

[2019-12-09 14:14] umarcor commented on #247
Unfortunately, there seems not to exist a *best repo* to report this:

- actions/toolkit#233
- actions/toolkit#131
- actions/starter-workflows#146
- actions/starter-workflows#66

I didn't find any working alternative for my use case, since this seems to require a fix by GitHub. I am already using Deployment keys for other use cases, and it works ok. But I'm precisely trying to avoid the burden of

[2019-12-09 14:44] hross commented on #199
Fixed in #228

[2019-12-09 14:44] #199 closed

[2019-12-09 19:26] #213 closed

[2019-12-09 19:41] jclem commented on #222
@eyal0 Not necessarily. The goal of the Actions Toolkit is to provide a set of tools that make it easy to write actions that will run on every runtime that we support (Ubuntu, Windows, macOS). We chose Node.js, a runtime that is also already present on the VMs that we run actions on across those operating systems. However, there are a couple of options for writing actions using things other than N

[2019-12-10 00:36] lukka commented on #241
e.g.: https://github.com/actions/toolkit/blob/3116829a9b8f5a5caf1d352eb209ccc7f4042b22/docs/github-package.md

[2019-12-10 02:44] xt0rted commented on #222
@jclem this limits you to only Ubuntu vms then. When I tried running docker based actions on a Windows vm I got an error saying they weren't supported on Windows or macOS. This means js based actions are the only way to run something cross platform at the moment.

[2019-12-10 03:04] jclem commented on #222
@xt0rted Correct, for cross-platform actions, using Node and the toolkit (if needed) are usually the easiest way to go if you don’t want to add any runtime requirements to your consumers’ workflows.

Of course, anything that can compile to JavaScript and be run by Node.js (TypeScript, Reason, etc) will also work, and the use of the toolkit is 100% optional.

[2019-12-10 03:14] jclem commented on #222
It’s worth noting that it’s totally not necessary to use the toolkit for the majority of the things it does. Python can of course make use of the documented [logging commands](https://help.github.com/en/actions/automating-your-workflow-with-github-actions/development-tools-for-github-actions#logging-commands).

[2019-12-10 18:59] KOLANICH commented on #222
It is totally not necessary,  but if there is no, I would have to write an own one. But I don't want to. It'd be better if MS have written it.

[2019-12-11 03:12] timheuer opened #249 "Need a way to prevent CI"
**Describe the bug**
GitHub Actions needs a way to prevent a CI from happening based on something in the title.  Azure DevOps uses ***NO_CI*** and then the CI doesn't even start.  A few actions have been created to try to mimic this, but they still result in a CI flow starting, resources being allocatd, and then marking the workflow as failed.  GitHub Actions at it's core should have this function

[2019-12-11 13:58] lukka commented on #242
FYI, the suggested command did not change what i am seeing.

I get exactly the same errors you get on [macos CI](https://github.com/actions/toolkit/runs/340674494)

Nevertheless, just ignoring the errors happening on both `npm ci` and `npm run bootstrap` and running `npm run build` creates successfully the packages.

[2019-12-11 19:47] bdougie commented on #249
Just stopping by for clarification and curiosity. Can you provide more details on how the check is make via the "title"?

Also interested in which actions are attempting this. Thanks

[2019-12-11 20:04] timheuer commented on #249
@bdougie in Azure DevOps if the commit message contains "***NO_CI***" then it does not trigger a CI build.  it's kind of like a pre-kill switch.  So your commit message just contains a token of sorts -- some have done this in their own actions: https://github.com/veggiemonk/skip-commit.  I think it should be a feature of the core Actions framework.

[2019-12-11 22:01] ericsciple commented on #218
@eine the package was published a couple days ago.

[2019-12-11 22:01] #218 closed

[2019-12-11 23:09] bryanmacfarlane commented on #249
Please request on github community.  Not an issue with the toolkit ...

[2019-12-11 23:09] #249 closed

[2019-12-11 23:10] bryanmacfarlane commented on #247
Github community is the best place to request / report this.  Not an issue that the toolkit can address.

[2019-12-11 23:10] #247 closed

[2019-12-11 23:11] bryanmacfarlane commented on #234
closing with explanation ☝️

[2019-12-11 23:11] #234 closed

[2019-12-11 23:29] timheuer commented on #249
@bryanmacfarlane where is 'github community'?

[2019-12-11 23:35] bryanmacfarlane commented on #227
Yeah, hosted is a fresh VM every time so anything you download is gone the next time.  On self hosted, you will benefit from it being there.  It will work but you just won't benefit from the perf from run to run.

Even with private actions, the bits / action will still need to be download so not exactly sure why private actions would help here.

[2019-12-11 23:44] danechitoaie commented on #227
Private actions would help since if the action is private then I can keep all of my code there and the job downloads only the action (with everything in it).

Now, because we can't have private actions, and because I can put our code in a public repo (action) I have this "workaround". Public repo (action) that's just a wrapper on the underlying app that's downloaded from blob storage. So now two s

[2019-12-12 22:34] eine commented on #218
@ericsciple, thanks! It works as expected! numworks/setup-msys2#24

[2019-12-14 04:14] ericsciple commented on #204
It's supported by the current runner in PROD now.

[2019-12-14 04:14] #204 closed

[2019-12-14 04:15] ericsciple commented on #204
pr for doc updates https://github.com/actions/toolkit/pull/256/files

[2019-12-16 16:59] #60 closed

[2019-12-16 17:20] ericsciple commented on #203
fixed by https://github.com/actions/toolkit/pull/256

[2019-12-16 17:20] #203 closed

[2019-12-16 17:26] ericsciple commented on #232
@dakale re shell feedback. It sounds like custom shell should consider any exported `add-path` when which'ing the tool

[2019-12-16 17:34] #216 closed

[2019-12-16 17:36] #170 closed

[2019-12-16 17:38] ericsciple commented on #65
fyi run ID is being added probably will land sometime in January

[2019-12-16 18:42] ericsciple commented on #71
Example here: https://github.com/actions/checkout/blob/master/__test__/input-helper.test.ts

Mocks registered in `beforeAll` and unregistered in `afterAll`

[2019-12-16 18:42] #71 closed

[2019-12-16 19:14] ericsciple commented on #163
would mocking the core module make more sense?

[2019-12-16 19:15] ericsciple commented on #118
would mocking the command module make more sense?

[2019-12-16 19:35] ericsciple commented on #106
I'm not sure whether we need to implement this.

The toolkit class is a thin wrapper convenience function for the common case `GITHUB_TOKEN` or PAT.

I could see the need if an input accepted a PAT or JWT and a function provided a single abstraction to do the right thing.

Otherwise I would recommend using the Octokit class directly.

Thoughts?

[2019-12-16 19:42] ericsciple commented on #118
[Example here](https://github.com/actions/checkout/blob/master/__test__/retry-helper.test.ts) where core is mocked out specifically to capture info.

[Example here](https://github.com/actions/checkout/blob/master/__test__/input-helper.test.ts) where core is mocked out to control the function results.

Users can leverage mocking tools to fit their specific needs.

[2019-12-16 19:43] ericsciple commented on #163
[Example here](https://github.com/actions/checkout/blob/master/__test__/retry-helper.test.ts) where core is mocked out specifically to capture info.

[Example here](https://github.com/actions/checkout/blob/master/__test__/input-helper.test.ts) where core is mocked out to control the function results.

Users can leverage mocking tools to fit their specific needs.

[2019-12-16 19:45] ericsciple commented on #195
note, lots of mocking examples in https://github.com/actions/checkout/tree/v2/__test__

[2019-12-16 19:54] ericsciple commented on #194
@xpol also curious about the scenario. Many tools offer multiple archive formats for users on different platforms (zip or 7z for windows)

[2019-12-16 19:56] ericsciple commented on #194
And the `tar` command doesnt exist on older versions of windows (which are supported by self hosted runners)

[2019-12-16 20:07] ericsciple commented on #146
@JaKXz it looks like the readme was updated to include the example to use `job.<job_id>.if` condition to skip a job

note, steps also allow `if` conditions.

[2019-12-16 20:14] ericsciple commented on #146
@bryanmacfarlane is https://github.community/t5/GitHub-Actions/bd-p/actions the correct place for this request?

[2019-12-16 20:16] ericsciple commented on #146
looks like here is the github community issue https://github.community/t5/GitHub-Actions/GitHub-Actions-quot-neutral-quot-exit-code-is-incorrectly/td-p/29051

[2019-12-16 20:16] #146 closed

[2019-12-16 20:23] ericsciple commented on #185
i have a pr open to fix this in github.com docs. Basically it already works today. Nothing needs to be advertised in the action manifest. That is, dont do `outputs: *`, just do `core.setOutput(...)`

[2019-12-16 20:23] #185 closed

[2019-12-17 09:02] warrenbuckley commented on #65
@ericsciple can you link to docs or implementation details once its rolled out please in this issue, so anyone who comes across this issue in the future can find the info they need.

[2019-12-17 09:23] Apollon77 opened #259 "Add Orga/User overview on GitHub Actions results/status"
Hi,

I don't know if this is the correct repo, so please move to correct one or tell me :-)

We former used Travis-CI for all testing (nodejs applications) and we have a lot of Repos (roghly 300+). SO the good on Travis was that it was easy to have an overview on Orga and "User" (Forks) level about the current result of the Test runs, so it was easy to identify broken ones to dig into it.

Is ther

[2019-12-17 12:47] stefanbuck opened #260 "Add xpath support for Problem Matcher"
**Describe the enhancement**
Sniffing through logs using RegExp can be hairy especially if your need multiline line matching. In my particular use case I want to write a Problem Matcher for [jest](https://github.com/facebook/jest). The output from `jest` is very human friendly.

[code]

Jest provides a CLI argument to print the test results in JSON. However, parsing this output using RegExp isn't

[2019-12-17 16:04] #148 closed

[2019-12-17 16:07] ericsciple commented on #260
i'll defer to others, but in general we've aligned with [vscode problem matchers](https://code.visualstudio.com/docs/editor/tasks#_defining-a-problem-matcher)

[2019-12-17 16:15] ericsciple opened #261 "tracking: publish packages"
Bump patch version and release all modules

Related PRs:
- https://github.com/actions/toolkit/pull/257
- https://github.com/actions/toolkit/pull/221
- https://github.com/actions/toolkit/pull/263
- https://github.com/actions/toolkit/pull/264
- https://github.com/actions/toolkit/pull/287

[2019-12-17 16:16] ericsciple commented on #260
@chrispat fyi

[2019-12-17 16:54] ericsciple commented on #242
I upgraded from node10 to node12 and i'm seeing errors during npm install (looks related to jest, so doesnt affect prod code)

[2019-12-17 17:48] #242 closed

[2019-12-18 08:47] kumarranjansingh opened #266 "How to SSH into the machine where my Github action is running similar to what we were doing in Travis?"
Thank you 🙇‍♀ for wanting to create an issue in this repository. Before you do, please ensure you are filing the issue in the right place. Issues should only be opened on if the issue **relates to code in this repository**.

* If you have found a security issue [please submit it here](https://hackerone.com/github)
* If you have questions about writing workflows or action files, then please [visit

[2019-12-18 09:34] mahaker opened #267 "Deprecation warning "number" parameter is deprecated for ".issues.createComment()". Use "issue_number" instead"
**Describe the bug**

When use `issues.createComment()`, deprecation warning appeared.

[code]

**To Reproduce**

I confirmed on github actions.

1. Create a .github/workflow/comment.yml. Its following [this](https://github.com/actions/github-script#comment-on-an-issue).
[code]
1. Create a issue.
1. See `Actions`

**Expected behavior**

No warning appeared.

**Screenshots**

![スクリーンショット 2019-12-18

[2019-12-18 09:36] mahaker commented on #267
I expect `issue()` getter must returns `issue_number`.

https://github.com/actions/toolkit/blob/f79897266ee00417d0fd7ce49ab61982045e8673/packages/github/src/context.ts#L42

[2019-12-18 18:23] #208 closed

[2019-12-19 09:39] blake-newman commented on #65
FYI i have a solution for those in need for a temporary workaround.

It's not elegant but it works™️

https://medium.com/attest-engineering/adding-a-unique-github-build-identifier-7aa2e83cadca

[2019-12-19 15:45] ericsciple commented on #194
fixed with https://github.com/actions/toolkit/pull/264

[2019-12-19 15:45] #194 closed

[2019-12-21 06:14] casz opened #270 "addPath always prepend to path"
**Describe the enhancement**
core.addPath assumes you always wants to prepend, however in some cases you want to append to path.
This is most likely the case for dotnet global tools.

Either add another method or have a boolean/option to choose whether you want to append/prepend

**Additional information**
https://github.com/actions/setup-dotnet/issues/69#issuecomment-568156276

[2019-12-23 05:56] lukka opened #272 "core.getInput does not tell the caller if the returned value is defined in the yaml or not"
**Describe the enhancement**
`core.getInput()` should allow the caller to understand whether the value is explicitly set in the yaml file, or whether it is not.
Right now you get an empty string, either when it is *not* defined, either when the user defined it as an empty string.

**Code Snippet**

this would allow this code:

`const inputValue = core.getInput(inputName) ?? defaultValue;`

Right n

[2019-12-23 15:02] joshmgross commented on #272
Action inputs support defining a default value in the action.yml file: https://help.github.com/en/actions/automating-your-workflow-with-github-actions/metadata-syntax-for-github-actions#inputsinput_iddefault

`core.getInput` will handle using that value instead.

Is there a use case where defining the default in code after `getInput` is preferred?

[2019-12-23 15:05] joshmgross commented on #270
Why do dotnet global tools need to append instead of prepend?

[2019-12-23 16:17] lukka commented on #272
Yes, if the default value is established at runtime (i.e. it cannot be specified in the action.yml).

[2019-12-23 16:40] casz commented on #270
there might be executable that could accidentally override the order of things.

[2019-12-23 20:52] #241 closed

[2019-12-25 05:04] softprops commented on #56
@TrueBrain I hit the same issue. Your workaround for docker based images worked for me as well.

[2019-12-31 16:50] joshmgross commented on #267
This isn't necessarily an issue with `@actions/github` or even `actions/github-script`.

`number` is the correct field for `Issue` in the API: https://developer.github.com/v3/issues/

Create Comment API wants `issue_number` instead of `number`, see https://developer.github.com/v3/issues/comments/#create-a-comment

`number` is deprecated in `@Octokit/Rest` [here](https://github.com/octokit/rest.js/

[2019-12-31 17:13] joshmgross commented on #267
This is tracked with https://github.com/actions/github-script/issues/14, closing this issue out

[2019-12-31 17:13] #267 closed

[2020-01-03 20:38] edhgoose opened #281 "Documentation for Docker LABELs, e.g. "com.github.actions.name""
**Describe the enhancement**
A number of examples of GitHub actions using Dockerfiles use the following functionality:

[code]

For instance, https://tech.paulcz.net/blog/intro-to-github-actions/#step-2-spellcheck, writes the following:

Unfortunately, the URL documented doesn't work any more and redirects here: https://help.github.com/en/actions/automating-your-workflow-with-github-actions

Is th

[2020-01-03 23:26] bryanmacfarlane commented on #281
This doesn't seem to be an issue with the toolkit repo.  You should likely report at github community.  If I'm mistaken and there's a dockerfile in this repo, you're referring to, add it and I'll re-open.

[2020-01-03 23:26] #281 closed

[2020-01-03 23:32] bryanmacfarlane opened #282 "CI sometimes fails on mac-latest hosted machines with ENOENT on _locks"
**Describe the bug**
This appears to be a race / timing issue in npm.  It only occurs on mac where the I/O may be slower (does not repro ever on local dev machine with faster I/O)

enoent ENOENT: no such file or directory, lchown '/Users/runner/.npm/_locks

It happened once in lerna bootstrap and other times during with npm install before audit checks.

Suggestion: since mac is the long poll anywa

[2020-01-04 15:52] edhgoose commented on #281
My apologies @bryanmacfarlane - I wasn't aware of the GitHub Community. I've found someone has asked a similar question here: https://github.community/t5/GitHub-Actions/Documentation-for-Dockerfile-metadata-labels/m-p/32536#M1172

Thanks!

[2020-01-04 18:58] bryanmacfarlane commented on #163
Assigning to myself to update docs and guidance pointing to the examples ☝️

[2020-01-04 23:40] darko-dev opened #284 "Can't see my debug logs"
**Describe the bug**

I can't see debug info within workflow logs printed with `core.debug()` from my action. I have set both `ACTIONS_RUNNER_DEBUG ` and `ACTIONS_STEP_DEBUG ` secrets to true but still no debug info is printed.

**To Reproduce**

You can check the action code [here](https://github.com/darko-dev/actions-aws-deploy-to-s3)

There is a simple action with just `core.debug()` call [here

[2020-01-06 13:50] alexkappa commented on #229
It seems the solution to this issue has been to change the wording in documentation, while the actual issue was not addressed imho.

I'll be submitting a PR which allows defining the shell as with [`child_process`](https://nodejs.org/api/child_process.html#child_process_child_process_spawn_command_args_options) options.

[2020-01-06 15:17] bryanmacfarlane opened #286 "Three unit tests timing out on hosted mac"
● @actions/exec › Exec roots relative tool path using process.cwd

    thrown: "Exceeded timeout of 5000ms for a test.
    Use jest.setTimeout(newTimeout) to increase the timeout value, if this is a long-running test."

      531 |   })
      532 |

          |   ^
      534 |     let exitCode: number
      535 |     let command: string
      536 |     if (IS_WINDOWS) {

      at packages/exec/__t

[2020-01-06 15:19] bryanmacfarlane commented on #282
https://github.com/actions/toolkit/commit/bfd29dcef82f324e9fb8855b6083fc0c2902bc27

[2020-01-06 15:19] #282 closed

[2020-01-06 20:38] edhgoose commented on #224
@ericsciple, when you say:

Is that what I'm seeing when I get these notes in the annotations of GitHub Actions:

![image](https://user-images.githubusercontent.com/1108173/71844863-02acfe80-30bf-11ea-9a4c-cddefce4b55f.png)

I've cheated in my problem matcher by adding `/github/workspace/` in the regex, but that does not feel like the right way to solve this problem!

[code]

This is currently a p

[2020-01-06 20:52] thboop commented on #284
Hey @darko-dev ! Thanks for the clean examples!

I took a look at `simple-action`. It appears the code to actually execute the run() function is missing. Right now, that action appears to be a no-op

I forked  the action and modified it here: https://github.com/thboop/simple-action/commit/09871fa392a1eebeba766f87352f6822606cfc8f

After doing so I was able to see the expected output:

![image](http

[2020-01-07 21:14] thboop opened #289 "Issue Number does not populate correctly in `@actions/github` Context.issue"
**Describe the bug**
Issue number is empty for PullRequestReview and PullRequestReviewComment events

**To Reproduce**
1. Create an action using the following ts file:
[code]
2.  Setup the workflow to run on `on: [pull_request_review, pull_request_review_comment]`
3. Create a PR with a linked issue

**Expected behavior**
The Issue number field should be populated.

**Screenshots**
The issue number

[2020-01-07 21:44] darko-dev commented on #284
Hi @thboop, yeah, I somehow missed that part.
Thank you so much for your time, it runs now!

[2020-01-07 21:44] #284 closed

[2020-01-08 05:25] ericsciple commented on #224
@edhgoose can you confirm the step is a container action (i.e. `uses` syntax) and not an ad hoc script (`run` syntax)?  I just skimmed the source code, i think i know what the bug is. Technically `actions/runner` would be a better place for the issue (recently changed to public repo). I can open an issue there for the issue you described or you can, either way is fine. I'll work on a fix tomorrow.

[2020-01-08 18:25] edhgoose commented on #224
@ericsciple

This is in `.github/workflows/phpcs`:

[code]

So, yes I think is the answer to your question. Maybe best if you open the issue, as you probably can describe the problem better?

[2020-01-08 19:35] stefanbuck commented on #260
Is there a way to help moving this forward? I really want to see this happening 😉

[2020-01-08 20:58] thboop opened #291 "Eslint Version is not compatible with Typescript version"
**Describe the bug**
See the output from the build logs below:
[code]

Eslint creates warnings on typescript features that were introducted in v3.5.0 or later. We should bump the linter to its latest version.

[2020-01-09 04:16] ericsciple commented on #260
Problem matchers plugin to how the runner processes streaming output. I'm not sure this fits into that plugin model.

It sounds like you want to process the json file, and create error/warning annotations with the file.

It is possible today, but it looks like `core.error()` doesnt expose the file/line/column parameters today. Even though the [runner supports it](https://github.com/actions/runner/

[2020-01-09 04:18] ericsciple commented on #260
related to https://github.com/actions/toolkit/issues/186

[2020-01-09 11:33] mies386 commented on #162
#13

[2020-01-09 11:41] mies386 opened #293 "https://github.community/t5/GitHub-Actions/bd-p/actions)"
Thank you 🙇‍♀ for wanting to create an issue in this repository. Before you do, please ensure you are filing the issue in the right place. Issues should only be opened on if the issue **relates to code in this repository**.

* If you have found a security issue [please submit it here](https://hackerone.com/github)
* If you have questions about writing workflows or action files, then please [visit

[2020-01-09 11:42] mies386 commented on #293
#293

[2020-01-09 11:42] #293 closed

[2020-01-09 11:47] mies386 commented on #106
#106
go_som

[2020-01-09 11:50] mies386 commented on #106
#285
Pastebin_master_social_login
#292

[2020-01-09 11:51] mies386 commented on #261
#261

[2020-01-09 13:03] mies386 commented on #106
#106/€Cash.paypal;bitcoin<€9999€>$cash_come_login_pal_pay;#social_network
#285
#293
<#$€$€cash_download;Apps>Pay:pal@internet^^==GitHub.patch/h.a.c.k.b;a;n;k-S;p;a;r<=#kasse#=><server$€&@!^#*

[2020-01-09 18:20] ivailop commented on #65
@ericsciple, could you please clarify what is a `run ID`? Is that related to `check-run-id`?

As I pointed [above](https://github.com/actions/toolkit/issues/65#issuecomment-547120715) the docs state that a workflow is identified with a `check-suite` and each job in it with a `check-run`.

Depending on the needs a "build number" could be:
* job specific and different for each job
* workflow specifi

[2020-01-09 18:31] chrispat commented on #65
We are working on an Actions API that will be out for preview later this month.  As part of that effort we have added a concept of RunId which is unique per workflow run across the repo.

[2020-01-09 23:39] chrispat commented on #260
Problem matchers are for parsing console output and are run line by line. In you case you want a file and the runner won't when to process the file. One option would be to write an action to process the file and create annotations.

[2020-01-10 19:00] eine commented on #106
IMHO, `@actions/github` should not duplicate or wrap any of the features provided by `@octokit/rest`, but extend them. Therefore, the authentication and all regular operations should be done with octokit. When a feature from `@actions/github` is required, it should accept an existing octokit object as an argument. Therefore, it should not be required for `@actions/github` to handle authentication

[2020-01-12 00:36] kcgen opened #299 "Job-level if conditional unable to use prerequisite job's environment variable"
**Describe the bug**

Environment variables set in `job: A` cannot be used in dependent `job: B`'s job-level `if:` conditional.

These fine grained exclusions of what you can and cannot do across jobs is not articulated in the documentation, which uses carte-blanche statements like _"environment variables that are available to all jobs and steps in the workflow"_ and _"You can use the if condition

[2020-01-12 19:40] kothiha931 opened #300 "README.md"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-01-12 23:16] ericsciple opened #301 "Fix command escaping to match runner"
The toolkit uses the new command syntax (`::command::`), yet the old escaping rules (for `##[command]`).

The escaping rules are:

[code]

[2020-01-14 16:59] #261 closed

[2020-01-15 04:04] jhenstridge opened #309 "exec.exec leaks action input parameters to subprocess"
**Describe the bug**
As input parameters are passed to the action as environment variables, and exec() reuses the action's environment by default, this means the input parameters will probably be visible to the subprocess.  If any secrets are being passed via parameters, they will be visible too.

**To Reproduce**
Steps to reproduce the behavior:
1. Write a JS action that takes a parameter named `

[2020-01-15 23:46] ericsciple commented on #266
@bryanmacfarlane @chrispat any idea where this is on the backlog?

[2020-01-16 00:00] bryanmacfarlane commented on #266
👋 This isn't a toolkit issue - it's a bigger service enhancement in cooperation with compute.  Please open an issue on GitHub community.  We do have a backlog item covering this but it's not in the next quarters planning.

[2020-01-16 00:00] #266 closed

[2020-01-16 00:04] bryanmacfarlane commented on #309
Toolkit exec for subprocesses has an optional arg to specify what the env dictionary looks like.

https://github.com/actions/toolkit/blob/master/packages/exec/src/interfaces.ts#L10

However, it is an interesting question whether we should strip INPUT_ vars.  Right now, it would have to be a blanket INPUT_ strip unless we loaded up the action yml

[2020-01-16 00:17] ericsciple commented on #299
[set-env](https://help.github.com/en/actions/automating-your-workflow-with-github-actions/development-tools-for-github-actions#set-an-environment-variable-set-env) is scoped to a job

We do have a feature on the backlog to enable flowing outputs across jobs. Unfortunately today there is not a good workaround.

An inelegant workaround today would be something like job `a` uploads an artifact, job `

[2020-01-16 03:58] jhenstridge commented on #309
I've used the `env` option when I wanted to pass additional environment variables to the subprocess.  This was more about whether the API should be safe by default.

Stripping all `INPUT_*` environment variables seems like it should be fine.  If there are actions that spawn subprocessed that care about an `INPUT_*` environment variable, chances are that it is a real input parameter.

An alternativ

[2020-01-16 05:57] krcroft commented on #299
Thanks @ericsciple ,
Glad it's in the queue!
Regarding the work-around, I'm already spamming `if: <criteria>` in every step and that's what I'm trying to cleanup by moving to a job-level if (and then moving the check-step up to a prerequisite job).

All I'm trying to do is:
 1.  if <run bash, get return code 1 or 0>
 2.  skip or continue this entire job (job-level toggle).

I think what's also int

[2020-01-16 19:41] eine opened #312 "Jobs stuck when trying to untar an archive"
Since today, trying to untar a `tar.xz` archive on `windows-latest` seems not to be possible:

- [MWE1](https://github.com/eine/setup-msys2/blob/07a6f112cd2ac8bef7ab984f2a2a5f9213196b11/main.js): `tc.extractTar` [stuck](https://github.com/eine/setup-msys2/commit/07a6f112cd2ac8bef7ab984f2a2a5f9213196b11/checks?check_suite_id=404893652)
- [MWE2](https://github.com/eine/setup-msys2/blob/c0a28de30a068

[2020-01-16 20:26] bryanmacfarlane commented on #312
Moving to virtual-environments since VM changes broke this.

[2020-01-17 01:30] ericsciple opened #313 "github.GitHub should follow proxy settings"
The class `github.GitHub` should follow [proxy settings](https://help.github.com/en/actions/automating-your-workflow-with-github-actions/about-self-hosted-runners#using-a-proxy-server-with-self-hosted-runners)

[2020-01-18 02:48] runspired opened #315 "[Question] Why use this over execa"
[execa](https://github.com/sindresorhus/execa) is what is standardly used for cross-platform standardized execution. I'm curious what advantages the [exec](https://github.com/actions/toolkit/tree/master/packages/exec) toolkit package offers us that execa does not already offer. On the surface they seem largely interchangeable.

[2020-01-19 01:36] JamesIves opened #316 "Unable to write to a new file"
**Describe the bug**
A clear and concise description of what the bug is.

I don't seem to be able to write to a new file using `exec`. This works when I use a Docker container action with bash, but not using the exec function with JavaScript.

**To Reproduce**
Steps to reproduce the behavior:

1. Create an action and call `exec('echo "test" > id_rsa')` that runs on `ubuntu-latest`.
2. It will prin

[2020-01-19 04:52] #301 closed

[2020-01-19 04:57] ericsciple commented on #313
fixed by https://github.com/actions/toolkit/pull/314

[2020-01-19 04:57] #313 closed

[2020-01-19 17:12] #316 closed

[2020-01-19 18:15] JamesIves commented on #316
Managed to work around this using `fs`.

[2020-01-21 15:43] thboop commented on #300
Going to close out this issue as there doesn't appear to be any actionable items here.

Please update the description and reopen this issue if needed!

[2020-01-21 15:43] #300 closed

[2020-01-21 15:44] #289 closed

[2020-01-21 18:17] eine opened #318 "Set custom default shell"
Coming from actions/runner#240

It'd be useful to have a function in the toolkit core which allows to change the default shell for all the following steps in a job. Another solution is to allow to set `shell` at job level (as it is supported for `env`). However, I think that supporting it in the toolkit would still be useful.

/cc @dakale

[2020-01-21 21:26] stefanbuck opened #319 "Problem matcher multiline support for message field"
**Describe the enhancement**

It seems like the current implementation does not support escape sequences like `\n` or `\t` for the message field. I wonder if there is a special reason for that. I want to write a Problem Matcher for [jest](https://jestjs.io/) and this requires multiline support to make the output useful.

### Current dialog
![image](https://user-images.githubusercontent.com/1393946

[2020-01-23 23:28] ericsciple commented on #106
fixed with #314 since the value of github.GitHub expanded to support [runner proxy settings](https://help.github.com/en/actions/automating-your-workflow-with-github-actions/about-self-hosted-runners#using-a-proxy-server-with-self-hosted-runners)

now you can use a different auth mechanism, but still get the proxy settings.

[2020-01-23 23:28] #106 closed

[2020-01-23 23:50] dguo opened #321 "@actions/core 1.2.2 breaks when trying to set a number as output"
**Describe the bug**

My team has code like:

`core.setOutput("test_db_migrations", testDbMigrations ? 1 : 0);`

This broke with the 1.2.2 release because it expects the output to be a string.

The error is: `TypeError: (s || "").replace is not a function` and occurs at `node_modules/@actions/core/lib/command.js:66:10)`.

**To Reproduce**

Try to set a number as output.

**Expected behavior**

The

[2020-01-24 19:07] thboop commented on #147
I've updated the readme in #310 with information on how to do this manually if the additional type information would be helpful.

If there's a particular field that is missing that would be helpful to add, we can evaluate adding that field.

The WebhookPayload field is a union of all of these individual payloads that can run in actions from the `@octokit/webhooks` library. For example:
[code]

The

[2020-01-26 13:58] rhysd commented on #309
I think `INPUT_*` environment variables should be filtered out. Various famous GitHub Actions receives GitHub API token as input:

- [actions/github](https://github.com/actions/github)
- [actions/labeler](https://github.com/actions/labeler)
- [actions/stale](https://github.com/actions/stale)
- [github-pages-deploy-action](https://github.com/JamesIves/github-pages-deploy-action)
- ...

it is a comm

[2020-01-27 17:26] SeyfSV opened #323 "core.exportVariable does not set variable with underscores on MacOS"
**Describe the bug**
core.exportVariable does not set variable with underscores (ex. ENV_VARIABLE) on macos-latest runner.
It works good on ubuntu-latest and windows-latest.

**To Reproduce**
Create action and call core.exportVariable('ENV_VARIABLE', 'test').
Run Actions within macos-latest  runner

**Expected behavior**
ENV_VARIABLE is set

[2020-01-27 17:52] JoseHernandezTR commented on #65
Is there any problem using github.run_number from the github context? It's not mentioned in the documentation but a dump of the github context object reveals it's there. It's also shown in the logs produced by the upload artifacts action. It seems to be exactly what we need, a sequential index that runs per workflow.

[2020-01-27 18:01] chrispat commented on #65
@JoseHernandezTR yes that will give you a unique number per run of that workflow.  The docs updates are rolling out as part of the API beta that shipped today.

[2020-01-27 18:13] JoseHernandezTR commented on #65
Awesome news! Thanks!

[2020-01-27 18:55] ivailop commented on #65
Along with the new API, would there be a related Webhook event provided?
Yes, there are `check_run`/`check_suite` events but they don't contain (as of now) anything related to the `action-run`.

[2020-01-27 19:31] tianhaoz95 opened #324 "@actions/github 2.1.0 breaks auth check"
**Describe the bug**
`new github.GitHub(token);` breaks when upgrade `@actions/github` from `2.0.1` to `2.1.0` with error message `Parameter token or opts.auth is required` and trace:

[code]

for details see this action run: https://github.com/tianhaoz95/readable-readme/pull/307/checks?check_run_id=411469798#step:4:97

**To Reproduce**
Steps to reproduce the behavior:
1. use `@actions/github` at

[2020-01-27 22:04] dominicroessner commented on #65
@chrispat I also just noticed the `run_id` now being part of the github context object. We are using Cypress and as @bahmutov pointed out above, we're looking for a unique identifier across all jobs in a workflow. The `run_id` is almost what we're looking for as it is unique across all jobs per workflow run, but when re-running a workflow, this id isn't updated. Also tried with a `run_id` and `run

[2020-01-28 00:40] bryanmacfarlane commented on #65
@chrispat - is it a bug?  it seems like run_number should remain the same but id should change.

[2020-01-28 01:13] chrispat commented on #65
It is a rerun of the same run so I expect them to both be the same.

[2020-01-28 20:21] thboop commented on #323
Hey @SeyfSV I've been unable to reproduce this issue. Do you have a link to your run and action, or could you provide more information?

I created a custom action with the following typescript:
[code]
Using `@actions/core` 1.2.2.

I then used the following workflow file
[code]

On all three platforms, the second step output "test" as expected.

[2020-01-28 21:25] craigdbarber opened #329 "Increased timeouts of tests on macos"
**Describe the bug**
Our unit tests on macos have begun to timeout quite frequently. It seems to be getting bogged down when inflating tar files: https://github.com/GoogleCloudPlatform/github-actions/pull/43/checks?check_run_id=413790873

These tests only take 50-60 seconds to successfully complete on ubuntu and windows. They're timing out after 6.5 mins on macos.

Is there a resource contention/c

[2020-01-29 04:54] tianhaoz95 commented on #324
nvm, it's a global init error.

[2020-01-29 04:54] #324 closed

[2020-01-29 18:48] SeyfSV commented on #323
Hi @thboop,
I am sorry, I checked issue and found that it was not clear explanation :(
Please, try to set LD_LIBRARY_PATH variable.
On my test action I get:
ubuntu:
![image](https://user-images.githubusercontent.com/25712100/73386909-b67d6480-42e0-11ea-8bda-e4f428d729db.png)
macOS:
![image](https://user-images.githubusercontent.com/25712100/73386810-8df56a80-42e0-11ea-81e4-f4f0f4d1b02f.png)

Actio

[2020-01-30 01:05] craigdbarber commented on #329
Adding to the flakiness being experienced with macos, now it appears intermittent outbound HTTP requests are coming back as 403, only on macos runners:
https://github.com/GoogleCloudPlatform/github-actions/runs/416288736?check_suite_focus=true

[2020-01-30 22:52] craigdbarber commented on #329
Disregard. Tracked this down to the test cleanup code timing out. Turns out deleting large temp directories is slower on macos. Extending the cleanup timeouts did the trick.

[2020-01-30 22:52] #329 closed

[2020-02-04 18:16] thboop commented on #323
@SeyfSV , thanks for the updated information I've been able to confirm what you are seeing! This appears to be a Runner issue related to that particular environmental variable I'm moving the ticket there so we can get it resolved!

[2020-02-04 20:07] JasonEtco opened #333 "Octokit deprecation warning"
**Describe the bug**

Hey folks 👋 I'm seeing a deprecation warning for `@octokit/rest.js` when importing `@actions/github`. This looks to be the offending code (h/t @joshmgross):

https://github.com/actions/toolkit/blob/432a78c48c941e90eedf7911ff0aa271bacad97b/packages/github/src/github.ts#L12

And the warning:

[code]

Looks like perfectly valid warning! cc-ing @gr2m for 👀

**Additional context**

[2020-02-04 22:39] gr2m opened #334 "Can we deprecate `@actions/github` in favor of `@octokit/action`?"
**Describe the enhancement**

It's rather confusing that both these modules exist. `@actions/github` is mostly wrapping `@octokit/rest` right now anyway. That's what `@octokit/action` does to, but with the benefit that I keep it up-to-date as part of the JavaScript Octokit SDKs.

Also Ocotkit comes with a plugin architecture. There is a growing list of scenarios that are nicely wrapped in a plugin

[2020-02-05 08:39] nwtgck opened #335 "Property 'issues' does not exist on type 'GitHub'"
**Describe the bug**
Hi,

I had the following build error.
[code]

<img width="725" alt="image" src="https://user-images.githubusercontent.com/10933561/73824851-3dc95b80-483e-11ea-8e2e-4c2e039ea15f.png">

I use `@actions/github@2.1.0`. This bug may be a bug of  octoki/rest.js.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

[2020-02-05 20:26] hardboiled commented on #335
I was having similar issues on this. I found that my type definition file generated as part of the github actions package here:
`node_modules/@actions/github/lib/github.d.ts`

imports Octokit as a default instead of as a decomposed import:
[code]
should be:
[code]

this breaks compilation for me. When I hand edit the package with this change, my project compiles.

This [octokit release](https://gi

[2020-02-05 21:31] nwtgck commented on #335
@hardboiled Thanks! That may relate to my PR: #332.

[2020-02-06 22:53] sarpik commented on #184
I was going through https://github.com/actions/cache trying to implement multiple path support, and when going through source code, I only noticed the `core.getInput` function, but not one for `core.getInputs` to get multiple of them.

Then, later, I [found this](https://github.com/actions/cache/blob/master/src/restore.ts#L30-L33):

[code]

so, is

[code]

the official way of doing it?

If so, I'v

[2020-02-07 21:33] eregon commented on #214
I wholly agree with the first post and I think the main point got unfortunately lost.

The documentation could just recommend a `v1` branch.
There is nothing preventing that, is it?

That would work fine with the marketplace, since anyway the v1 tag or branch should not be published to the marketplace, only specific versions (e.g., 1.0.1), as already [documented](https://github.com/actions/toolkit

[2020-02-08 22:25] rbellamy opened #338 "toJson(steps) always empty"
**Describe the bug**
The documentation on exploring contexts found at "[Example printing context information to the log file"](https://help.github.com/en/actions/automating-your-workflow-with-github-actions/contexts-and-expression-syntax-for-github-actions#example-printing-context-information-to-the-log-file) says I should be able to add a step that dumps the context of all the steps.

This issue

[2020-02-10 11:20] myitcv opened #339 "core: do not trim spaces on value returned by getInput"
**Describe the bug**

As I raised over in [the community forums](https://github.community/t5/GitHub-Actions/Unclear-why-actions-core-trims-value-returned-by-getInput/m-p/45537/highlight/true#M6252), the [core package](https://github.com/actions/toolkit/tree/master/packages/core) trims the value returned by getInput:

https://github.com/actions/toolkit/blob/432a78c48c941e90eedf7911ff0aa271bacad97b/

[2020-02-12 13:24] bryanmacfarlane commented on #339
I agree.

[2020-02-13 02:15] ericsciple commented on #305
updated docs too early https://github.com/actions/toolkit/pull/341

fixed bug in runner to make this work... https://github.com/actions/runner/pull/331

after the new runner rolls out (sometime over next couple weeks), will restore docs.

[2020-02-16 21:30] polothy commented on #186
Hello! Is there an update in the direction for this? Are one of the methods going to gain feature parity with the GitHub Annotations API?

Looking to try this out and I need to convert a linter to something for annotations.  Leaning towards converting the linter output into a custom format and then making a matcher for it.  Would be nice though if I didn't have to do the two step process and somet

[2020-02-18 02:23] jjangga0214 opened #345 "@actions/exec vs child_process.exec"
How are they different?

Is there a special reason to use `@actions/exec` over node's `child_process.exec`?

Thanks.

[2020-02-18 12:00] lstocchi opened #346 "Support piped commands"
**Describe the enhancement**
Support pipes `|` to redirect stdout of first toolrunner to the next one.

**Code Snippet**
An idea could be to have a method that connects a list of ToolRunners and start executing them `ToolRunner.execWithPiping(trs: ToolRunner[])`

**Additional information**
If i have a sequence of commands like `tr1 | tr2 | tr3` i would like to redirect stdout through all tollrunne

[2020-02-19 14:54] Kerizer commented on #345
Looks like pipes not working if command is executed with `@actions/exec`, so they are different.
Not sure if this is by design

[2020-02-19 14:59] joshmgross commented on #333
Should be fixed now with https://github.com/actions/toolkit/pull/332

[2020-02-19 14:59] #333 closed

[2020-02-20 08:23] Kerizer opened #359 "Pipes not working in @actions/exec node module"
**Describe the bug**
It looks like @actions/exec.exec escapes commands and pipes are not working because of this

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new javascript action
2. Add `@actions/exec` to project - `npm i -s @actions/exec`
3. In your index file add any .exec command with pipe, ie: `echo "Hello world" | grep "o"`
4. It would print `Hello world" | grep "o"`, inste

[2020-02-21 21:02] thboop commented on #335
@nwtgck this should be resolved in `2.1.1`,  I've been unable to reproduce in that version.

I'm going to close this out for now, but if you are still encountering issues please let me know and we can revisit this item.

Thanks for your contribution!

[2020-02-21 21:02] #335 closed

[2020-02-22 22:56] wpscholar commented on #321
What if I want to return an object?

[2020-02-23 00:03] gr2m commented on #321
`setOutput` does not support objects. You can set it to a stringified object, but then have to parse it later

[2020-02-24 16:10] andrewdhazlett opened #361 "core.getInput treats YAML booleans as strings"
**Describe the bug**
When I try to use a boolean value in my `action.yaml` file or workflow definition and retrieve it using `core.getInput` the result is a string.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://github.com/andrewdhazlett/gh-action-boolean-input-repro'
2. Click on 'Actions > `gh-action-boolean-input-repro` > Bug repro'
3. Scroll down to `Run /./`
4. See error

[2020-02-24 18:04] ericsciple commented on #361
`getInput` always returns a string by design. The inputs are passed as env var across process.

You can use a pattern like `getInput('my-input').toUpper() === 'true'` to convert to boolean.

Workflow uses yaml 1.2 so all the yaml 1.1 boolean values are intentionally not supported.

[2020-02-24 20:30] andrewdhazlett commented on #361
@ericsciple please also see my response on the PR I submitted.

I don't see why the implementation detail of passing env vars should be of concern to the consuming code. The values are defined in a format that supports non-string scalar types, so I expect those types to be available in the consuming code. Is there anywhere this design decision is documented?

[2020-02-26 16:00] bryanmacfarlane opened #363 "Document tool cache details"
Open source the doc which details how the tool cache works.

[2020-02-27 13:33] krzkaczor opened #364 "URLs for artifacts"
Hey!

With `@actions/artifact` it's possible to upload/download artifacts. Artifact can be a HTML report generated by some kind of tool.

Is it possible to obtain a URL to uploaded artifact so it's possible to browse it in browser? (and later post it back to GH interface).

Are such URLs public even for private projects?

[2020-02-27 16:12] thboop commented on #364
Hey @krzkaczor , I want to to make sure I'm understanding this enhancement correctly.

Are you are looking for a way to upload an artifact in a private repo and then get a public URL for that artifact? If there isn't a specific toolkit function you want here, we should transfer this issue to `actions/upload-artifact`, they will be able to assist you more!

I think they have a related issue here ht

[2020-02-27 16:15] krzkaczor commented on #364
Thanks! That's helpful.

[2020-02-27 16:15] #364 closed

[2020-02-28 12:53] LukasBombach opened #365 "TypeScript definitions for GitHub of @actions/github broken"
**Describe the bug**
The TypeScript definitions for GitHub of `@actions/github` are almost entirely wrong. They export a class with a single public method called `graphql` the takes an object of options.

This does not reflect the documentation or the actual library at all.

The documentation says you can do the following things:

[code]

Instead TypeScript says the `octokit` only has a single met